<html th:fragment="contenter"  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<script type="text/javascript" src="js/content.js"></script>
	<link rel="stylesheet" type="text/css" href="css/content.css"/>
	<title sec:authentication="name"></title>
	<!-- 中部内容区 -->
	<div id="center" th:fragment="content" xmlns:th="http://www.thymeleaf.org">
		<!--上方关于点击缩略的卡片-->
		<div class="manager-block-list">
			<ul id="ul-block_for_page">
			</ul>
			<div class="btn2-slide">
				<span onclick="javascript:left_slideCard()" class="glyphicon glyphicon-triangle-left"></span>
				<span onclick="javascript:right_slideCard()" class="glyphicon glyphicon-triangle-right"></span>
			</div>
		</div>
		
		<!-- 主页显示的内容 -->
		<div id="always-change-area">
			<div class="shortcuts-service center_show_area">
				<ul>
					<li class="li-item">
						<a href="javascript:runUserBaseInfo()">
							<span class="glyphicon glyphicon-list mainPage_init_option"></span>
							<br>
							<strong>基&nbsp;本&nbsp;信&nbsp;息</strong>
						</a>
					</li>
					<li class="li-order">
						<a href="javascript:runRepaymentSearch()">
							<span class="glyphicon glyphicon-list-alt mainPage_init_option"></span>
							<br>
							<strong>业&nbsp;务&nbsp;查&nbsp;询</strong>
						</a>
					</li>
					<li class="li-notice" sec:authorize="hasRole('ROLE_ADMIN')">
						<a href="#">
							<span class="glyphicon glyphicon-volume-up mainPage_init_option"></span>
							<br>
							<strong>权&nbsp;限&nbsp;管&nbsp;理</strong>
						</a>
					</li>
					<li class="li-root"  sec:authorize="hasRole('ROLE_ADMIN')">
						<a href="javascript:runOperaUser()">
							<span class="glyphicon glyphicon-user mainPage_init_option"></span>
							<br>
							<strong>用&nbsp;户&nbsp;管&nbsp;理</strong>
						</a>
					</li>
					<li class="li-root"  sec:authorize="hasRole('ROLE_ADMIN')">
						<a href="javascript:runUserLog()">
							<span class="glyphicon glyphicon-user mainPage_init_option"></span>
							<br>
							<strong>用&nbsp;户&nbsp;登&nbsp;录&nbsp;流&nbsp;水</strong>
						</a>
					</li>
				</ul>
			</div>
			<!--系统设置--基本信息 -->
			<iframe class="center_show_area" id="system-base-info-page" src="/sc/base_infomation" frameborder="0"></iframe>
			<!--系统设置--修改密码 -->
			<iframe class="center_show_area" id="system-change-password-page"  src="/sc/reset_password" frameborder="0"></iframe>
			<!--业务查询--债权还款查询 -->
			<iframe class="center_show_area" id="service-repayment-page"  src="/service/search" frameborder="0"></iframe>
			<!--业务查询--订单还款查询 -->
			<iframe class="center_show_area" id="service-repaymentOrder-page" src="/service/orderSearch" frameborder="0"></iframe>
			<!--资金记录 -->
			<iframe class="center_show_area" id="log-record" src="/money/moneyRecord" frameborder="0"></iframe>
			<!--资金流水 -->
			<iframe class="center_show_area" id="log-journal" src="/log/generalJournal" frameborder="0"></iframe>
			<!--角色管理 -->
			<iframe class="center_show_area" id="role-manage" src="/role/roleManage" frameborder="0"></iframe>
			<!--用户角色管理 -->
			<iframe class="center_show_area" id="userPermission-manage" src="/role/userManage" frameborder="0"></iframe>
			<!--菜单管理 -->
			<iframe class="center_show_area" id="menu-manage" src="/menu/menuManage" frameborder="0"></iframe>
			<!--用户管理--增加用户 -->
			<iframe  class="center_show_area" id="userManager-add-user-page" src="/um/addUser" frameborder="0"></iframe>
			<!--用户管理--管理用户 -->
			<iframe  class="center_show_area" id="userManager-opera-user-page" src="/um/managerment" frameborder="0"></iframe>
			<!--用户管理--用户登录流水 -->
			<iframe  class="center_show_area" id="userManager-login-page" src="/um/loginRecord" frameborder="0"></iframe>
			<!--考勤系统--加班管理-->
			<iframe  class="center_show_area" id="attendance-overtime-page" src="/attendance/overtime" frameborder="0"></iframe>
			<!--考勤系统--调休管理-->
			<iframe  class="center_show_area" id="attendance-rest-page" src="/attendance/rest" frameborder="0"></iframe>
			<!--考勤系统--请假管理-->
			<iframe  class="center_show_area" id="attendance-leave-page" src="/attendance/leave" frameborder="0"></iframe>
			<!--考勤系统--审核管理-->
			<iframe  class="center_show_area" id="attendance-deal-page" src="/attendance/deal" frameborder="0"></iframe>
			<!--考勤系统--考勤管理-->
			<iframe  class="center_show_area" id="attendance-attendance-page" src="/attendance/attendance" frameborder="0"></iframe>
			<!--考勤系统--统计-->
			<iframe  class="center_show_area" id="attendance-acount-page" src="/attendance/acount" frameborder="0"></iframe>
			<!--客服服务--致电信息处理 -->
			<!--<iframe class="center_show_area" id="customer_record" src="/customer/customerRecord" frameborder="0"></iframe>-->
			<!--客服服务--服务列表 -->
			<iframe class="center_show_area" id="customer_service" src="/customer/showService" frameborder="0"></iframe>
		</div>		
	</div>
</html>