<html th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
	<!--<meta charset="UTF-8">-->
	<!--<title>客服助手管理系统</title>-->
	<link rel="stylesheet" type="text/css" href="css/head.css">
<!--</head>-->
<!--<body>-->
	<div id="head" th:fragment="head" xmlns:th="http://www.thymeleaf.org">
		<div class="t-logo">
			<span>客&nbsp;服&nbsp;助&nbsp;手&nbsp;管&nbsp;理&nbsp;系&nbsp;统</span>
		</div>
		<div class="t-login-info">
			<span>欢迎&nbsp;&nbsp;&nbsp;</span>
			<span id="loginName">管理员</span>
			<input type="hidden" id="user_storeId" value="${user.storeId }"/>
		</div>
		<div class="t-login-out">
			<a href="../login.html">安全退出</a>
		</div>
	</div>
<!--</body>-->
</html>