<html th:fragment="header" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<link rel="stylesheet" type="text/css" href="css/head.css"/>
	<div id="head" th:fragment="head" xmlns:th="http://www.thymeleaf.org">
		<div class="t-logo">
			<span>笑&nbsp;脸&nbsp;金&nbsp;融&nbsp;客&nbsp;服&nbsp;管&nbsp;理&nbsp;系&nbsp;统</span>
		</div>
		<div class="t-login-info">
			<span>欢迎&nbsp;&nbsp;&nbsp;</span>

			<span class="loginName" sec:authorize="hasRole('ROLE_ADMIN')">
				管理员
				&nbsp;
			</span>
			<span class="loginName" sec:authorize="hasRole('ROLE_USER')">
				客服
				&nbsp;
				<span sec:authentication="name"></span>
			</span>

			<input type="hidden" id="user_storeId" value="${user.storeId }"/>
		</div>
		<div class="t-login-out">
			<a href="../login.html">安全退出</a>
		</div>
	</div>
<!--</body>-->
</html>