<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.mapper.usersupport.p2p.RepaymentMapper">

    <resultMap id="repaymentResultMap" type="com.facebank.usersupport.model.RepaymentModel">
        <result column="cred_fp_order_id" property="credOrderId"/>
        <result column="cred_user_id" property="credUserId"/>
        <result column="cred_plan_principal" property="credPlanPrincipal"/>
        <result column="cred_plan_interest" property="credPlanInterest"/>
        <result column="cred_plan_date" property="credPlanDate"/>
        <result column="red_local_Info" property="redLocalInfo"/>
        <result column="red_plan_amount" property="redPlanAmount"/>
        <result column="red_package_type" property="redPackageType"/>
        <result column="red_term_num" property="redTermNum"/>
        <result column="vip_rate" property="vipRate"/>
        <result column="vip_plan_amount" property="vipPlanAmount"/>
        <result column="vip_term_num" property="vipTermNum"/>
        <result column="pf_plan_amount" property="pfPlanAmount"/>
        <result column="pf_term_num" property="pfTermNum"/>
        <result column="pf_type" property="pfType"/>
    </resultMap>

    <select id="getRepaymentModelByRepaymentForm" parameterType="com.facebank.usersupport.dto.reqDto.RepaymentForm" resultMap="repaymentResultMap">
        SELECT
			cred.fp_order_id 'cred_fp_order_id',
			cred.user_id 'cred_user_id',
			cred.plan_principal 'cred_plan_principal',
			cred.plan_interest 'cred_plan_interest',
			cred.plan_date 'cred_plan_date',
			red.local_Info 'red_local_Info',
			red.plan_amount 'red_plan_amount',
			red.red_package_type 'red_package_type',
			red.term_num 'red_term_num',
			vip.rate 'vip_rate',
			vip.plan_amount 'vip_plan_amount',
			vip.term_num 'vip_term_num',
			pf_intere.plan_amount 'pf_plan_amount',
			pf_intere.term_num 'pf_term_num',
			pf_intere.type 'pf_type'
		FROM
			(
				SELECT
					credit_id,
					plan_principal,
					plan_interest,
					plan_date,
					fp_order_id,
					user_id
				FROM
					fp_main.credit_repayment
			) AS cred
		LEFT JOIN (
			SELECT
				a.plan_amount,
				a.plan_date,
				a.credit_id,
				a.fp_order_id,
				b.local_Info,
				b.user_id,
				b.red_package_type,
				a.term_num
			FROM
				fp_main.red_package_repayment AS a,
				fp_main.red_package_rec AS b
			WHERE
				a.fp_order_id = b.fp_order_id
		) AS red ON cred.credit_id = red.credit_id
		LEFT JOIN (
			SELECT
				a.vip_interest_rec_id,
				a.fp_order_id,
				a.user_id,
				a.rate,
				b.credit_id,
				b.plan_amount,
				b.plan_date,
				b.term_num
			FROM
				fp_main.vip_interest_rec AS a,
				fp_main.vip_interest_repayment AS b
			WHERE
				a.fp_order_id = b.fp_order_id
		) AS vip ON cred.credit_id = vip.credit_id
		LEFT JOIN (
			SELECT
				b.record_id,
				b.type,
				b.invest_user,
				b.credit_id,
				b.plan_date,
				b.term_num,
				b.plan_amount
			FROM
				pf_interest.record AS a,
				pf_interest.repayment AS b
			WHERE
				a.record_id = b.record_id
		) AS pf_intere ON cred.credit_id = pf_intere.credit_id
		<where>
			<if test="orderId != null and orderId != ''">
				cred.fp_order_id = #{orderId}
			</if>
			<if test="userId != null and orderId != ''">
				AND cred.user_id = #{userId}
			</if>
			<if test="startTime != null and startTime != ''">
				AND cred.plan_date &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				AND cred.plan_date &lt;= #{endTime}
			</if>
		</where>
		ORDER BY cred.plan_date DESC
    </select>

</mapper>