<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.mapper.usersupport.p2p.UserMainP2PReadMapper">
  <resultMap id="BaseResultMap" type="com.facebank.usersupport.model.UserMainModel">
    <id column="userId" jdbcType="BIGINT" property="userId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="gesture_pwd" jdbcType="VARCHAR" property="gesturePwd" />
    <result column="gesture_pwd_status" jdbcType="INTEGER" property="gesturePwdStatus" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
  </resultMap>
  <sql id="whereParam">
    <if test="userId != null" >
      and userId = #{userId,jdbcType=BIGINT}
    </if>
    <if test="mobile != null" >
      and mobile = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="nickName != null" >
      and nick_name = #{nickName,jdbcType=VARCHAR}
    </if>
    <if test="email != null" >
      and email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="info != null" >
      and info = #{info,jdbcType=VARCHAR}
    </if>
    <if test="userType != null" >
      and user_type = #{userType,jdbcType=INTEGER}
    </if>
    <if test="userStatus != null" >
      and user_status = #{userStatus,jdbcType=INTEGER}
    </if>
    <if test="startTime != null">
      and create_time &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and create_time &lt;= #{endTime,jdbcType=BIGINT}
    </if>
    <if test="offsetId != null">
      userId > #{offsetId,jdbcType=BIGINT}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select userId, mobile, login_pwd, gesture_pwd, gesture_pwd_status, nick_name,
    email, info, user_type, user_status, remark, create_time, modify_time
    from user_main
    where userId = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectByMobile" resultMap="BaseResultMap">
    select userId, mobile, login_pwd, gesture_pwd, gesture_pwd_status, nick_name,
    email, info, user_type, user_status, remark, create_time, modify_time
    from user_main
    where mobile = #{mobile,jdbcType=VARCHAR} and user_type = #{userType,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select userId, mobile, login_pwd, gesture_pwd, gesture_pwd_status, nick_name,
    email, info, user_type, user_status, remark, create_time, modify_time
    from user_main
    where userId &lt; #{pageId,jdbcType=BIGINT}
    <include refid="whereParam" />
    order by userId desc
    limit #{pageSize,jdbcType=INTEGER}
  </select>
  <select id="selectAllCount" parameterType="java.util.Map" resultType="java.lang.Long">
    select count(*)
    from user_main
    where 1=1
    <include refid="whereParam" />
  </select>
  <select id="selectByUserIds" resultMap="BaseResultMap">
    select userId, mobile, login_pwd, gesture_pwd, gesture_pwd_status, nick_name,
    email, info, user_type, user_status, remark, create_time, modify_time
    from user_main
    where userId in
   <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
    #{item}
   </foreach>
  </select>
  <select id="selectByMobiles" resultMap="BaseResultMap">
    select userId, mobile, login_pwd, gesture_pwd, gesture_pwd_status, nick_name,
    email, info, user_type, user_status, remark, create_time, modify_time
    from user_main
    where mobile in
   <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
    #{item}
   </foreach> and user_type = #{userType,jdbcType=INTEGER}
  </select>

  <select id="selectUserIdByMobile" parameterType="java.lang.String" resultType="Long">
    SELECT userId FROM user_main WHERE mobile = #{mobile}
  </select>

  <resultMap id="userCapitalResult" type="com.facebank.usersupport.model.UserCapitalInfoModel">
      <id column="userId" property="userId" />
  </resultMap>
  <select id="selectUserCapitalByUserId" parameterType="java.lang.Long" resultMap="userCapitalResult">
      SELECT userId,mobile,realName,cash,frozenWithDrawCash,frozenFpOrderCash
      FROM user_main WHERE userId = #{userId}
  </select>

</mapper>