<html th:fragment="test_project_page"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>提测模块——项目页面</title>
	<div th:include="common/head_info::head_infor"></div>
	<script type="text/javascript" th:src="@{../js/layer.js}"></script>
	<script type="text/javascript" th:src="@{../js/jquery.dataTables.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{../css/dataTables-style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../css/jquery.dataTables.min.css}">

	<!--日期-->
	<script type="text/javascript" th:src="@{../js/moment-with-locales.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap-datetimepicker.css}">
	<script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.js}"></script>
	<script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.zh-CN.js}"></script>

	<script type="text/javascript" th:src="@{../online-process/js/test_project.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{../online-process/css/test_project.css}">

</head>
<body>
    <iframe class="test_project_detail_module" id="test_project_detail_module" src="/online-process/TestProjectRecord" frameborder="0"></iframe>
	<div id="project_main_body">
		<div class="test_project_meun">
			<ul class="ul_menu">
				<li>
					<select id="test_project_select">
						<option value="123456">项目1</option>
						<option value="123456">项目2</option>
						<option value="123456">项目3</option>
						<option value="123456" selected="selected">项目4</option>
						<option value="123456">项目5</option>
						<option value="123456">项目6</option>
					</select>
				</li>
				<li class="all_test_project">
					<a href="javascript:searchAllProject();">所有项目</a>
				</li>
				<li class="new_test_project">
					<a href="javascript:showModelForNewProject()">新建项目</a>
				</li>
			</ul>
		</div>
		<div class="test_project_content">
			<div class="container-fluid">
		        <form class="form-inline">
		            <div class="form-group">
		                <label>项目编号:</label>
		                <input type="text" class="form-control" id="projectId-search" placeholder="请输入项目编号"/>
		            </div>
		            <div class="form-group">
		                <label>项目名称:</label>
		                <input type="text" class="form-control" id="projectName-search" placeholder="请输入项目名"/>
		            </div>
		            <div class="form-group">
		                <label>起始时间:</label>
		                <input type="text" class="form-control" id="projectSearchdatetimeStart" name="startTime" readonly>
		                <label>结束时间:</label>
		                <input type="text" class="form-control" id="projectSearchdatetimeEnd" name="endTime" readonly>
		                <button type="button" onclick="javascript:searchAllProject();" class="btn btn-primary">查询</button>
		            </div>
		        </form>

		        <table class="table table-bordered data-table" cellspacing="0" width="100%" id="testProject_datatable">
		            <thead>
		            <tr>
		                <th>项目编号</th>
		                <th>项目名称</th>
		                <th>项目地址</th>
		                <th>起始时间</th>
		                <th>结束时间</th>
		                <th>状态</th>
		                <th>查看详情</th>
		            </tr>
		            </thead>
		        </table>
		    </div>
		</div>
	</div>

	<!--添加项目页面-->
	<div class="modal fade addTestProject_model" id="createNewProject" tabindex="-1" role="dialog" aria-labelledby="addroleLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form id="newTestProjectForm">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" >新建项目</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label">项目名称:</label>
						<input type="text" class="form-control" name="projectName" id="m_projectName" />
						<label class="control-label">项目代号:</label>
						<input type="text" class="form-control" name="projectCode" id="m_projectCode"/>
						<label class="control-label">项目地址:</label>
						<input type="text" class="form-control" name="projectUrl" id="m_projectUrl"/>
						<label class="control-label time_info time_info_head">起始时间:</label>
						<div class="time_palance">
							<input type="text" class="form-control project_time" name="str_beginTime" id="m_beginTime" readonly/>
							<label class="control-label time_info">&nbsp;至&nbsp;</label>
							<input type="text" class="form-control project_time" name="str_endTime" id="m_endTime" readonly/>
						</div>
						<label class="control-label">开发人员:</label>
						<input type="text" class="form-control people_who_to_do" id="m_developPeople"/>
						<input type="hidden" name="developPeople" id="m_hidden_developPeople"/>
						<label class="control-label">测试人员:</label>
						<input type="text" class="form-control people_who_to_do" id="m_testPeople"/>
						<input type="hidden" name="testPeople" id="m_hidden_testPeople"/>
						<label class="control-label">运维人员:</label>
						<input type="text" class="form-control people_who_to_do" id="m_operationsPeople"/>
						<input type="hidden" name="operationsPeople" id="m_hidden_operationsPeople"/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" onclick="saveTestProject();" class="btn btn-primary">Save</button>
				</div>
				</form>
			</div>
		</div>
	</div>


	<!--选择项目关联人员的页面-->
	<div class="modal fade people_model" id="selectPeopleForProject" tabindex="-1" role="dialog" aria-labelledby="addroleLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" >人员列表</h4>
				</div>
				<div class="modal-body">
					<form id="peopleForm">
						<div class="form-group">
							<div class="search_palace_for_user">
								<input type="text" class="form-control" name="query" id="search_username" placeholder="填入姓名或者工号"/>
								<button type="button" onclick="javascript:searchUser();" class="btn btn-primary">查询</button>
							</div>
							<div class="data_show_of_user">
								<table>
									<tbody id="beSelect_user">
									</tbody>
								</table>

							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="saveSelectedUserButton" onclick="saveSelectedUser();" value="" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>