<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.mapper.usersupport.generater.TestProjectRecordMapper">
  <resultMap id="BaseResultMap" type="com.facebank.usersupport.pojo.TestProjectRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="operating_content" jdbcType="VARCHAR" property="operatingContent" />
    <result column="operating_people" jdbcType="VARCHAR" property="operatingPeople" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="form_type" jdbcType="INTEGER" property="formType" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, operating_content, operating_people, project_id, form_id, form_type, gmt_create, 
    gmt_modify
  </sql>
  <select id="selectByExample" parameterType="com.facebank.usersupport.pojo.TestProjectRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test_project_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_project_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from test_project_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.facebank.usersupport.pojo.TestProjectRecordExample">
    delete from test_project_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.facebank.usersupport.pojo.TestProjectRecord">
    insert into test_project_record (id, operating_content, operating_people, 
      project_id, form_id, form_type, 
      gmt_create, gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{operatingContent,jdbcType=VARCHAR}, #{operatingPeople,jdbcType=VARCHAR}, 
      #{projectId,jdbcType=BIGINT}, #{formId,jdbcType=BIGINT}, #{formType,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=BIGINT}, #{gmtModify,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.facebank.usersupport.pojo.TestProjectRecord">
    insert into test_project_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operatingContent != null">
        operating_content,
      </if>
      <if test="operatingPeople != null">
        operating_people,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="formId != null">
        form_id,
      </if>
      <if test="formType != null">
        form_type,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="operatingContent != null">
        #{operatingContent,jdbcType=VARCHAR},
      </if>
      <if test="operatingPeople != null">
        #{operatingPeople,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="formType != null">
        #{formType,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.facebank.usersupport.pojo.TestProjectRecordExample" resultType="java.lang.Long">
    select count(*) from test_project_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update test_project_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.operatingContent != null">
        operating_content = #{record.operatingContent,jdbcType=VARCHAR},
      </if>
      <if test="record.operatingPeople != null">
        operating_people = #{record.operatingPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=BIGINT},
      </if>
      <if test="record.formId != null">
        form_id = #{record.formId,jdbcType=BIGINT},
      </if>
      <if test="record.formType != null">
        form_type = #{record.formType,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="record.gmtModify != null">
        gmt_modify = #{record.gmtModify,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update test_project_record
    set id = #{record.id,jdbcType=BIGINT},
      operating_content = #{record.operatingContent,jdbcType=VARCHAR},
      operating_people = #{record.operatingPeople,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=BIGINT},
      form_id = #{record.formId,jdbcType=BIGINT},
      form_type = #{record.formType,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      gmt_modify = #{record.gmtModify,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.facebank.usersupport.pojo.TestProjectRecord">
    update test_project_record
    <set>
      <if test="operatingContent != null">
        operating_content = #{operatingContent,jdbcType=VARCHAR},
      </if>
      <if test="operatingPeople != null">
        operating_people = #{operatingPeople,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="formType != null">
        form_type = #{formType,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.facebank.usersupport.pojo.TestProjectRecord">
    update test_project_record
    set operating_content = #{operatingContent,jdbcType=VARCHAR},
      operating_people = #{operatingPeople,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=BIGINT},
      form_id = #{formId,jdbcType=BIGINT},
      form_type = #{formType,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modify = #{gmtModify,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>