<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head> <div th:include="common/head_info::head_infor"></div>
    <script type="text/javascript" th:src="@{../js/base_infomation.js}"></script>
    <link rel="stylesheet" th:href="@{../css/base_infomation.css}">
    <script  type="text/javascript" th:src="@{../js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../js/layer.js}"></script>
    <script  type="text/javascript" th:src="@{../js/jquery.validate.js}"></script>
</head>

<body>
<!-- 基本信息页面 -->
<div style ="margin: 50px auto" id="base_info_body">
    <form id = "base_infomation" name = "base_infomation">
    <table class="table table-hover">
        <tr height="40px">
            <td colspan="2">
                <font size="4">基本信息</font> &nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td>
                工号
            </td>
            <td>
                <input type="text" name="work_number" size="34px" id="work_number" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td>
                用户名
            </td>
            <td>
                <input type="text" name="username" size="34px" id="username" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td>
                手机号码：
            </td>
            <td>
                <input type="text" name="phone" id="phone" size="34px" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td>
                邮箱
            </td>
            <td>
                <input type="text" name="email"  id="email" size="34px" readonly="readonly"/>
            </td>
        </tr>
        <!--<tr>-->
            <!--<td>-->
                <!--入职时间-->
            <!--</td>-->
            <!--<td>-->
                <!--<p  name="gmt_create" id="gmt_create" > </p>-->
            <!--</td>-->
        <!--</tr>-->
        <tr>
            <td>
                状态
            </td>
            <td>
               <input type="text" name="status" id="status" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-large" type="button"  id="btn_modify" >
                    修改
                </button>
                <button class="hide" type="button"  id="btn_submit" onclick="update_Infomation();" >
                    确定
                </button>

            </td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>