<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="common/head_info::head_infor"></div>
    <script type="text/javascript" th:src="@{../js/reset_password.js}"></script>
    <link rel="stylesheet" th:href="@{../css/reset_password.css}"/>
</head>
<body>
<form>
<table class="table table-condensed" id="change_pw_table">
    <tr>
        <td>
            旧密码:
        </td>
        <td>
            <input type="password" name="password" size="34px" id="password"/>
        </td>
    </tr>
    <tr>
        <td>
            新密码:
        </td>
        <td>
            <input type="password" name="new_password" size="34px" id="new_password"/>
        </td>
    </tr>
    <tr>
        <td>
            确认密码:
        </td>
        <td>
            <input type="password" name="confirm_password" size="34px" id="confirm_password"/>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-large" type="submit" id="btn_reset_password" >确定</button>
        </td>
    </tr>
</table>

</form>
</body>
</html>