<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.attendance.mapper.AcountMapper">
  <select id="acountAll" parameterType="com.facebank.usersupport.attendance.dto.reqDto.AcountVo" resultType="com.facebank.usersupport.attendance.dto.AcountDto">
      select
      a.work_number as workNumber,
      ANY_VALUE(a.emp_name) as empName,
      sum(a.status=1) as late,
      sum(a.status=2) as early,
      sum(a.status=3) as lateAndEarly,
      sum(a.status=4) as absent,
      sum(a.status=5) as exp,
      ANY_VALUE(b.overtime_duration) as overtimeDuration,
      ANY_VALUE(b.rest_duration) as restDuration,
      ANY_VALUE(b.leave_duration) as leaveDuration
      from emp_attendance as a inner join emp as b
      on a.work_number=b.work_number
      <if test="workNumber != null">
          and b.work_number = #{workNumber}
      </if>
      <if test="deptNumber != null">
          and b.dept_number = #{deptNumber}
      </if>
      <if test="year != null">
          and year(attendance_date) = date_format(#{year}, '%Y')
      </if>
      <if test="month != null">
          and month(attendance_date) = date_format(#{month}, '%m')
      </if>
      group by a.work_number,year(`attendance_date`)
      <if test="month != null">
          ,month(`attendance_date`)
      </if>
  </select>
</mapper>