<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.attendance.mapper.ApplyRecordMapper">
    <resultMap id="BaseResultMap" type="com.facebank.usersupport.attendance.model.ApplyRecordModel">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="work_number" jdbcType="INTEGER" property="workNumber" />
        <result column="emp_name" jdbcType="VARCHAR" property="empName" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="apply_duration" jdbcType="REAL" property="applyDuration" />
        <result column="apply_date" jdbcType="DATE" property="applyDate" />
        <result column="apply_cause" jdbcType="VARCHAR" property="applyCause" />
        <result column="apply_type" jdbcType="INTEGER" property="applyType" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="notpass_cause" jdbcType="VARCHAR" property="notpassCause" />
    </resultMap>

    <sql id="Base_Column">
        id, work_number, emp_name, start_time, end_time, apply_duration, apply_date, apply_cause,
        apply_type, status, notpass_cause
    </sql>


    <!--添加申请记录-->
    <insert id="addApplyRecord" parameterType="com.facebank.usersupport.attendance.model.ApplyRecordModel" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="int">-->
        <!--select LAST_INSERT_ID()-->
        <!--</selectKey>-->
        INSERT  into apply_record ( work_number, emp_name, start_time, end_time,apply_duration, apply_date, apply_cause, apply_type)
        VALUES(#{workNumber},#{empName},#{startTime},#{endTime},#{applyDuration},#{applyDate},#{applyCause},#{applyType})
    </insert>

    <!--根据条件查询该用户的申请记录-->
    <select id="getApplyRecordByCondition" parameterType="com.facebank.usersupport.attendance.dto.reqDto.QueryVo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column" />
        FROM apply_record where work_number = #{workNumber}
        <if test="applyType != null">
            and apply_type = #{applyType}
        </if>
        <if test="dateStartTime != null ">
            and apply_date >= #{dateStartTime}
        </if>
        <if test="dateEndTime != null ">
            and apply_date &lt;= #{dateEndTime}
        </if>
        ORDER BY apply_date DESC,id DESC

    </select>

    <!--根据申请记录id获取该记录的信息-->
    <select id="getApplyRecordById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column" />
        FROM apply_record where id = #{id}
    </select>

    <!--更新申请记录信息-->
    <update id="updateApplyRecord" parameterType="com.facebank.usersupport.attendance.model.ApplyRecordModel">
        UPDATE apply_record set
        start_time = #{startTime},end_time = #{endTime},apply_duration = #{applyDuration},apply_cause = #{applyCause},apply_date = #{applyDate}
        where id = #{id}
    </update>

    <!--更新申请记录状态-->
    <update id="updateApplyRecordStatus" parameterType="com.facebank.usersupport.attendance.model.ApplyRecordModel">
        UPDATE apply_record SET status = #{status}
        <if test="notpassCause != null and notpassCause != ''">
            ,notpass_cause = #{notpassCause}
        </if>
        where id = #{id}
    </update>



</mapper>