<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.attendance.mapper.DealMapper">
  <resultMap id="BaseResultMap" type="com.facebank.usersupport.attendance.model.DealModel">
    <id column="id" property="id" />
    <result column="apply_id" property="applyId" />
    <result column="parentWorkerNumber" property="parentWorkerNumber" />
    <result column="deal_level" property="dealLevel" />
    <result column="deal_time" property="dealTime" />
    <result column="status" property="dealStatus" />
    <result column="notpass_cause" property="notpassCause" />
    <result column="work_number" property="workNumber" />
    <result column="emp_name" property="enmName" />
    <result column="start_time" property="startTime" />
    <result column="end_time" property="endTime" />
    <result column="apply_duration" property="duration" />
    <result column="apply_type" property="applyType" />
    <result column="status" property="status" />
    <result column="apply_date" property="applyDate" />
    <result column="apply_cause" property="applyCause" />
  </resultMap>
  <select id="getDealModels" parameterType="com.facebank.usersupport.attendance.dto.reqDto.QueryVo" resultMap="BaseResultMap">
    SELECT d.id id,
        d.apply_id apply_id,
        d.work_number parentWorkerNumber,
        d.deal_level deal_level,
        d.deal_time deal_time,
        d.status status,
        d.notpass_cause notpass_cause,
        a.work_number work_number,
        a.emp_name empName,
        a.start_time start_time,
        a.end_time end_time,
        a.apply_date apply_date,
        a.apply_duration,
        a.apply_type apply_type,
        a.status status,
        a.apply_cause apply_cause
    FROM deal_record d LEFT JOIN apply_record a
    ON  d.apply_id=a.id
    <where>
        <if test="workNumber != null and workNumber != ''">
            and d.work_number = #{workNumber}
        </if>
        <if test="applyType != null">
            and a.apply_type = #{applyType}
        </if>
        <if test="dateStartTime != null">
            and a.apply_date &gt;= #{dateStartTime}
        </if>
        <if test="dateEndTime != null">
            and a.apply_date &lt;= #{dateEndTime}
        </if>
      and a.status &lt; 1 and d.status = 1
    </where>
  </select>
</mapper>