<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.attendance.mapper.DeptMapper">

    <resultMap id="deptResult" type="com.facebank.usersupport.attendance.model.DeptModel">
        <id column="id" property="id"/>
        <result column="dept_number" property="deptNumber"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>

    <select id="getAllDept" resultMap="deptResult">
        SELECT id,dept_number,dept_name FROM dept
    </select>

    <select id="getWorkNumberByDeptNumber" parameterType="java.lang.Integer" resultMap="deptResult">
        SELECT dept_name FROM dept where dept_number=#{deptNumber}
    </select>


</mapper>