<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.attendance.mapper.EmpAttendanceMapper">

    <resultMap id="attendanceResult" type="com.facebank.usersupport.attendance.model.EmpAttendanceModel">
        <id column="id" property="id"/>
        <result column="work_number" property="workNumber"/>
        <result column="emp_name" property="empName"/>
        <result column="dept_name" property="deptName"/>
        <result column="attendance_date" property="attendanceDate"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="saveEmpAttendanceList" parameterType="java.util.List">
        INSERT INTO emp_attendance(work_number,emp_name,dept_name,attendance_date,start_time,end_time,status)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.workNumber},#{item.empName},#{item.deptName},#{item.attendanceDate},#{item.startTime},#{item.endTime},#{item.status})
        </foreach>
    </insert>

    <select id="selectAttendanceRecordByForm" parameterType="com.facebank.usersupport.attendance.dto.reqDto.GetAttendanceForm" resultMap="attendanceResult">
        SELECT id,work_number,emp_name,dept_name,attendance_date,start_time,end_time,status
        FROM emp_attendance
        <where>
            dept_name = #{deptName}
            AND  date_format(attendance_date,'%Y-%m')=date_format(#{attendanceDate},'%Y-%m')
            <if test="workNumber != null">
                AND work_number = #{workNumber}
            </if>
        </where>
    </select>

    <select id="selectAttendanceRecordByAttendanceDate" parameterType="java.lang.String" resultType="com.facebank.usersupport.attendance.model.EmpAttendanceModel">
        SELECT * FROM emp_attendance where month(attendance_date) = date_format(#{attendanceDate}, '%m') and year(attendance_date) = date_format(#{attendanceDate}, '%Y')
    </select>

</mapper>