<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.attendance.mapper.OverTimeMapper">
    <resultMap id="BaseResultMap" type="com.facebank.usersupport.attendance.model.ApplyRecordModel">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="work_number" jdbcType="INTEGER" property="workNumber" />
        <result column="emp_name" jdbcType="VARCHAR" property="empName" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="apply_date" jdbcType="DATE" property="applyDate" />
        <result column="apply_cause" jdbcType="VARCHAR" property="applyCause" />
        <result column="apply_type" jdbcType="INTEGER" property="applyType" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="duration" jdbcType="INTEGER" property="duration" />
        <result column="notpass_cause" jdbcType="VARCHAR" property="notpassCause" />
    </resultMap>

    <insert id="insert" parameterType="com.facebank.usersupport.attendance.model.ApplyRecordModel" useGeneratedKeys="true" keyProperty="id">
        insert into apply_record (
        work_number,emp_name,
        start_time, end_time,apply_date,
        apply_cause, apply_type,duration
        )
        values (#{workNumber},#{empName},#{startTime},#{endTime},#{applyDate},#{applyCause},#{applyType},
               #{duration})
    </insert>
    <update id="updateApplyRecord" parameterType="com.facebank.usersupport.attendance.model.ApplyRecordModel">
        UPDATE  apply_record SET start_time=#{startTime},end_time=#{endTime},apply_date=#{applyDate},duration=#{duration},apply_cause=#{applyCause}
        where id=#{id}
    </update>
    <update id="updateApplyRecordByStatus" parameterType="com.facebank.usersupport.attendance.model.ApplyRecordModel">
        UPDATE  apply_record SET status=#{status},notpass_cause=#{notpassCause} where id=#{id}
    </update>
    <update id="updateApplyRecordByStatusSetOne" parameterType="com.facebank.usersupport.attendance.model.ApplyRecordModel">
        UPDATE  apply_record SET status=#{status} where id=#{id}
    </update>


    <select id="getApplyRecordModels" parameterType="com.facebank.usersupport.attendance.dto.reqDto.QueryVo" resultMap="BaseResultMap">
      SELECT  id,
              work_number,
              emp_name,
              start_time,
              end_time,
              apply_date,
              status,
              apply_cause,
              notpass_cause,
              duration
      FROM  apply_record
      <where>
           work_number = #{workNumber}
          <if test="dateStartTime!=null">
              and apply_date &gt;= #{dateStartTime}
          </if>
          <if test="dateEndTime!=null">
              and apply_date  &lt;= #{dateEndTime}
          </if>
      </where>
           ORDER BY apply_date DESC
    </select>
</mapper>