<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="width: 100%;">
<head>
    <meta charset="UTF-8">
<div th:include="common/head_info::head_infor"></div>
<script type="text/javascript" th:src="@{../js/paging.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{../css/paging.css}">
<script type="text/javascript" th:src="@{../js/My97DatePicker/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{../js/dateFormat.js}"></script>
<script type="text/javascript" th:src="@{../js/generalJournal.js}"></script>
<script type="text/javascript" th:src="@{../js/jquery.dataTables.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{../css/dataTables-style.css}">
<link rel="stylesheet" type="text/css" th:href="@{../css/jquery.dataTables.min.css}">
</head>
<body>

<div id="content">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search" >
            <div class="form-group">
                <input type="text" name="mobile" class="form-control" placeholder="手机号不能为空">
                <select class="form-control "id="type" name="type">
                    <option value="">所有类型</option>
                    <option value="1">收入</option>
                    <option value="0">支出</option>
                </select>
                    <input id="datetimeStart" class="Wdate" type="text" onclick="WdatePicker({dateFmt:'yyyy-M-d H:mm:ss',skin:'whyGreen',maxDate:'%y-%M-%d'})"/>
                    --
                    <input id="datetimeEnd" class="Wdate" type="text" onclick="WdatePicker({dateFmt:'yyyy-M-d H:mm:ss',skin:'whyGreen',maxDate:'%y-%M-%d'})"/>
            </div>
            <button type="button" onclick="javascript:search();" class="btn btn-primary">查询</button>
        </form>

            <!-- Table -->
        <table class="table table-bordered data-table" cellspacing="0" width="100%" id="datatables">
                <thead>
                <tr style="word-break: keep-all;width: 100%;">
                    <th>id</th>
                    <th >类型</th>
                    <th >账户id</th>
                    <th >账户名</th>
                    <th >流水号</th>
                    <th >动作发起时间</th>
                    <th >资金到账时间</th>
                    <th >关联id</th>
                    <th >收入支出</th>
                    <th >金额</th>
                    <th >余额</th>
                    <th >备注</th>
                    <th >状态</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                </tr>
                </thead>
            </table>
        </div>
</div>
    <script>



    </script>
</body>
</html>