<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="common/head_info::head_infor"></div>
    <script type="text/javascript" th:src="@{../js/paging.js}"></script>
    <script type="text/javascript" th:src="@{../js/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{../js/dateFormat.js}"></script>
    <script type="text/javascript" th:src="@{../js/jquery.dataTables.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/paging.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/jquery.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables-style.css}">
</head>
<body>
<div class="container center" style="width: 100%;">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" name="mobile" class="form-control" placeholder="手机号" id="mobile">
            <select class="form-control " id="type" name="type">
                <option value="">所有类型</option>
                <option value="1">汇入</option>
                <option value="2">汇出</option>
            </select>
            <input id="datetimeStart" class="Wdate" type="text" onclick="WdatePicker({dateFmt:'yyyy-M-d H:mm:ss',skin:'whyGreen',maxDate:'%y-%M-%d'})"/>
            --
            <input id="datetimeEnd" class="Wdate" type="text" onclick="WdatePicker({dateFmt:'yyyy-M-d H:mm:ss',skin:'whyGreen',maxDate:'%y-%M-%d'})"/>
        </div>
        <button type="button" class="btn btn-default" onclick="javascript:search();">查找</button>
    </form>
    <div class="panel panel-default" style="width:100%;height:auto;overflow:auto;">
        <!-- Table -->
        <table class="table table-bordered table-striped" style="min-width:1020px;word-break: keep-all;" id="datatables">
            <thead>
            <tr>
                <th width="80px">id</th>
                <th width="80px">资金汇入者id</th>
                <th width="80px">资金汇入者的昵称</th>
                <th width="80px">资金汇出者id</th>
                <th width="80px">资金汇出者的昵称</th>
                <th width="80px">资金汇出者的昵称</th>
                <th width="80px">此交易完成后的账户余额</th>
                <th width="80px">资金来往类型</th>
                <th width="80px">交易发生时间</th>
                <th width="80px">交易渠道</th>
                <th width="80px">交易备注</th>
                <th width="80px">关联的loanId</th>
                <th width="80px">借款标题</th>
                <th width="80px">标头像图片的路径</th>
                <th width="80px">外部序列号</th>
            </tr>
            </thead>
            <!--<tbody class="table table-bordered table-striped" style="word-break: keep-all" id="moneyRecordList">

            </tbody>-->
        </table>
    </div>
    <div id="pageing"></div>
</div>
<script>


    //分页显示DataTable
    var table3;

    $(function () {
        var today = new Date();
        today.setHours(0);
        today.setMinutes(0);
        today.setSeconds(0);
        today.setMilliseconds(0);

        $("#datetimeStart").val(Format(today, "yyyy-MM-dd HH:mm:ss"));
        $("#datetimeEnd").val(Format(new Date(), "yyyy-MM-dd HH:mm:ss"));

        table3 = $('#datatables').DataTable({
            "searching": false,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "serverSide": true,

            ajax: function (data, callback, settings) {
                //封装请求参数
                var param = getQueryCondition(data);

                $.ajax({
                    type: "GET",
                    url: '/money/getMoneyRecordPage',
                    cache: false,  //禁用缓存
                    data: param,    //传入已封装的参数
                    dataType: "json",
                    success: function (result) {
                        if (result.code==202){alert(result.message)}
                        if (result.code==203){alert(result.message)}
                        if (result.code==204){alert(result.message)}
                        if (result.code == 200) {callback(result.data);}
                    }
                });
            },
            "columns": [
                {
                    "sClass": "text-center",
                    "data": "id",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "touserid",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "tousernickname",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "fromuserid",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "fromusernickname",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "amount",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "accountbalance",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "tradetype",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "tradetime",
                    "render": function (data, type, full, meta) {
                        /*var inoutString;
                        if (data == 0) {
                            inoutString = "支出";
                        } else {
                            inoutString = "收入";
                        }*/
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "tradechannel",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "tradecomment",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "loanid",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },{
                    "sClass": "text-center",
                    "data": "loantitle",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "loanportraitpath",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
                {
                    "sClass": "text-center",
                    "data": "outserialno",
                    "render": function (data, type, full, meta) {
                        return validate(data);
                    },
                    "bSortable": false
                },
            ],
            columnDefs: [
                {"orderable": false, "targets": 1},
                {"orderable": false, "targets": 2},
                {"orderable": false, "targets": 3},
                {"orderable": false, "targets": 4},
                {"orderable": false, "targets": 5},
                {"orderable": false, "targets": 6},
                {"orderable": false, "targets": 7},
                {"orderable": false, "targets": 8},
                {"orderable": false, "targets": 9},
                {"orderable": false, "targets": 10},
                {"orderable": false, "targets": 11},
                {"orderable": false, "targets": 12},
                {"orderable": false, "targets": 13},
                {"orderable": false, "targets": 14},
            ],
        });

    });

    function search() {
        table3.ajax.reload();
    }

    //封装查询参数
    function getQueryCondition(data) {
        var param = {};
        param.mobile = $("#mobile").val();//查询条件
        param.type = $("#type").val();//查询条件
        param.starttime = new Date($("#datetimeStart").val()).getTime();//查询条件
        param.endtime = new Date($("#datetimeEnd").val()).getTime();//查询条件
        //组装分页参数
        param.start = data.start;
        param.length = data.length;
        param.draw = data.draw;
        return param;
    }

    //null处理
    var validate = function (data) {
        if (data == null) {
            return "";
        }
        return data;
    }

    //日期处理
    function formatDate(now) {
        if (now == "") {
            return "";
        }
        return new Date(now).toLocaleString();
    }
</script>
</body>
</html>