<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <div th:include="common/head_info::head_infor"></div>
    <script type="text/javascript" th:src="@{../js/moneyRecord.js}"></script>
    <script type="text/javascript" th:src="@{../js/moment-with-locales.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap-datetimepicker.css}">
    <script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{../js/paging.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/paging.css}">
</head>
<body>
<div class="container center">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" name="mobile"  class="form-control" placeholder="手机号">
            <input type="text" name="type" class="form-control" placeholder="类型">
                <input type="text" class="form-control" id="datetimeStart" name="startTime" readonly>
                --
                <input type="text" class="form-control" id="datetimeEnd" name="endTime" readonly>
        </div>
        <button type="button" class="btn btn-default" id="moneyRecordSearch">查找</button>
    </form>
    <div class="panel panel-default" style="width:100%;height:auto;overflow:auto;">
        <!-- Table -->
        <table class="table table-bordered table-striped" style="min-width:1020px;word-break: keep-all;" >
            <thead>
            <tr>
                <th width="80px">id</th>
                <th width="80px">资金汇入者id</th>
                <th width="80px">资金汇入者的昵称</th>
                <th width="80px" >资金汇出者id</th>
                <th width="80px">资金汇出者的昵称</th>
                <th width="80px">资金汇出者的昵称</th>
                <th width="80px">此交易完成后的账户余额</th>
                <th width="80px">资金来往类型</th>
                <th width="80px">交易发生时间</th>
                <th width="80px">交易渠道</th>
                <th width="80px">交易备注</th>
                <th width="80px">关联的loanId</th>
                <th width="80px">借款标题</th>
                <th width="80px">标头像图片的路径</th>
                <th width="80px">外部序列号</th>
                <th width="60px">真名</th>
                <th width="110px">手机号</th>
            </tr>
            </thead>
            <tbody class="table table-bordered table-striped" style="word-break: keep-all" id="moneyRecordList" ></tbody>
        </table>
    </div>
    <div id="pageing"></div>
</div>
<script>
    var counts = 5;
    $(document).ready(function () {
        getPageAttribute(1,counts);
    })
    //查询
    $('#moneyRecordSearch').click(function () {
        getPageAttribute(1,counts);
    });

    function getPageAttribute(page,couts){
        $.ajax({
            url: "getMoneyRecordPage",
            type: "POST",
            dataType: "json",
            data: {
                mobile: $('[name="mobile"]').val(),
                type: $('[name="type"]').val(),
                starttime: $('#datetimeStart').val(),
                endtime: $('#datetimeEnd').val(),
                page:page,
                couts:couts
            },
            success: function (json) {
                var resdata = json.data;
                createPageNav({
                    $container : $("#pageing"),
                    pageCount : resdata.totalPages,
                    currentNum : resdata.currentPage,
                    afterFun : function(num){
                        getPageAttribute(num,couts);
                    },
                    hasCommonPage:false
                });
                var str = "";
                for (var i =0;i<json.data.pageData.length;i++){
                    var id = json.data.pageData[i].id;
                    var touserid = json.data.pageData[i].touserid;
                    var tousernickname = json.data.pageData[i].tousernickname;
                    var fromuserid = json.data.pageData[i].fromuserid;
                    var fromusernickname = json.data.pageData[i].fromusernickname;
                    var amount = json.data.pageData[i].amount;
                    var accountbalance = json.data.pageData[i].accountbalance;
                    var tradetype = json.data.pageData[i].tradetype;
                    var tradetime = json.data.pageData[i].tradetime;
                    var tradechannel = json.data.pageData[i].tradechannel;
                    var tradecomment = json.data.pageData[i].tradecomment;
                    var loanid = json.data.pageData[i].loanid;
                    var loantitle = json.data.pageData[i].loantitle;
                    var loanportraitpath = json.data.pageData[i].loanportraitpath;
                    var outserialno = json.data.pageData[i].outserialno;
                    var realname =json.data.pageData[i].realname;
                    var mobile = json.data.pageData[i].mobile;
                    //为空转换
                    if(id == null){id = "";}
                    if(touserid == null){touserid = "";}
                    if(tousernickname == null){tousernickname = "";}
                    if(fromuserid == null){fromuserid = "";}
                    if(fromusernickname == null){fromusernickname = "";}
                    if(amount == null){amount = "";}
                    if(accountbalance == null){accountbalance = "";}
                    if(tradetype == null){tradetype = "";}
                    if(tradetime == null){tradetime = "";}
                    if(tradechannel == null){tradechannel = "";}
                    if(tradecomment == null){tradecomment = "";}
                    if(loanid == null){loanid = "";}
                    if(loantitle == null){loantitle = "";}
                    if(loanportraitpath == null){loanportraitpath = "";}
                    if(outserialno == null){outserialno = "";}
                    if(realname == null){realname = "";}
                    if(mobile == null){mobile = "";}
                    str += '<tr>'
                        +'<th>'+id+'</th>'
                        +'<th>'+touserid+'</th>'
                        +'<th>'+tousernickname+'</th>'
                        +'<th>'+fromuserid+'</th>'
                        +'<th>'+fromusernickname+'</th>'
                        +'<th>'+amount+'</th>'
                        +'<th>'+accountbalance+'</th>'
                        +'<th>'+tradetype+'</th>'
                        +'<th>'+tradetime+'</th>'
                        +'<th>'+tradechannel+'</th>'
                        +'<th>'+tradecomment+'</th>'
                        +'<th>'+loanid+'</th>'
                        +'<th>'+loantitle+'</th>'
                        +'<th>'+loanportraitpath+'</th>'
                        +'<th>'+outserialno+'</th>'
                        +'<th>'+realname+'</th>'
                        +'<th>'+mobile+'</th>'
                        +'</tr>';
                }
                $('#moneyRecordList').html(str);
            }
        })
    };

        //日期插件初始化
        $('#datetimeStart').datetimepicker({
            language:  'zh-CN',
            format:'yyyy-mm-dd',
            weekStart: 1, /*以星期一为一星期开始*/
            todayBtn:  1,
            autoclose: 1,
            minView:2, /*精确到天*/
            pickerPosition: "bottom-left"
        }).on("changeDate",function(ev){  //值改变事件
            //选择的日期不能大于第二个日期控件的日期
            if(ev.date){
                $("#datetimeEnd").datetimepicker('setStartDate', new Date(ev.date.valueOf()));
            }else{
                $("#datetimeEnd").datetimepicker('setStartDate',null);
            }
        });
        $('#datetimeEnd').datetimepicker({
            language:  'zh-CN',
            format:'yyyy-mm-dd',
            weekStart: 1, /*以星期一为一星期开始*/
            todayBtn:  1,
            autoclose: 1,
            minView:2, /*精确到天*/
            pickerPosition: "bottom-left"
        }).on("changeDate",function(ev){
            /*选择的日期不能小于第一个日期控件的日期*/
            if(ev.date){
                $("#datetimeStart").datetimepicker('setEndDate', new Date(ev.date.valueOf()));
            }else{
                $("#datetimeStart").datetimepicker('setEndDate',new Date());
            }
        });
    </script>
</body>
</html>