<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="common/head_info::head_infor"></div>
    <script type="text/javascript" th:src="@{../js/layer.js}"></script>
    <script type="text/javascript" th:src="@{../js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{../attendance/js/attendance.js}"></script>
    <script type="text/javascript" th:src="@{../attendance/js/jquery.ocupload-1.1.2.js}"></script>
    <!--<script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.zh-CN.js}"></script>-->
    <script type="text/javascript" th:src="@{../js/dateFormat.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/jquery.dataTables.min.css}">
    <!--<link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap-datetimepicker.css}">-->
    <script type="text/javascript" th:src="@{../My97DatePicker/WdatePicker.js}"></script>

    <style type="text/css">
        .Wdate{
            background-image:url('../My97DatePicker/skin/datePicker.gif');
        }
    </style>
    <style type="text/css">
        .exportHide{
            display: none;
        }
    </style>
</head>
<body>

    <div id="content">
        <div class="container-fluid">

            <form id="attendanceForm" class="form-inline" method="post" action="">
                <div class="form-group">
                    <label class="labe_l" for="companySelect">部门:</label>
                    <select id="companySelect" class="form-control" name="deptNumber" onchange="getEmpByNumber()">
                        <option value="">--请选择部门--</option>
                    </select>
                    <input type="hidden" id="deptNameInput" name="deptName" value="">
                    <label class="labe_l" for="empSelect">人员:</label>
                    <select id="empSelect" class="form-control" name="workNumber">
                        <option value="">--请选择--</option>
                    </select>
                    <label class="labe_l" for="attendanceDate">考勤时间:</label>
                    <!--<input type="text" class="form_datetime form-control" id="attendanceDate" readonly>-->
                    <input class="Wdate form-control" type="text" id="attendanceDate" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM',readOnly:true})" readonly>
                    <input type="hidden" id="attendanceDateInput" name="attendanceDate" value="">
                </div>
                <span class="btn btn-default" onclick="searchAttendance()">查询</span>
                <span style="float: right">
                    <input type="button" class="form-control" value="导入" id="importExcel"/>
                </span>
            </form>

            <div>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="button" class="form-control hide" onclick="exportAttendance()" value="导出查询结果" id="exportExcel"/>
                    </div>
                </form>
            </div>

            <div>
                <table class="table table-bordered data-table" cellspacing="0" width="100%" id="attendanceTable">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>员工号</th>
                            <th>员工姓名</th>
                            <th>考勤日期</th>
                            <th>上班打卡时间</th>
                            <th>下班打卡时间</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</body>
</html>