<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="common/head_info::head_infor"></div>
    <script type="text/javascript" th:src="@{../js/layer.js}"></script>
    <script type="text/javascript" th:src="@{../js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/loginRecord.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/jquery.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/loginRecord.css}">

    <!--日期-->
    <script type="text/javascript" th:src="@{../js/moment--locales.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap-datetimepicker.css}">
    <script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.zh-CN.js}"></script>
</head>
<body>

<div id="content">
    <div class="container-fluid">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="work-search" placeholder="请输入工号"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="name-search" placeholder="请输入姓名"/>
            </div>
            <div class="form-group">
                <!--<label>登录时间:</label>-->
                <input type="text" class="form-control" id="datetimeStart" name="startTime" placeholder="登录时间" readonly>
                <!--<label>登出时间:</label>-->
                <input type="text" class="form-control" id="datetimeEnd" name="endTime" placeholder="登出时间" readonly>
                <button type="button" onclick="javascript:search();" class="btn btn-primary">查询</button>
            </div>
        </form>

        <table class="table table-bordered data-table" cellspacing="0" width="100%" id="datatable">
            <thead>
            <tr>
                <th>用户名</th>
                <th>工号</th>
                <th>登录时间</th>
                <th>登出时间</th>
            </tr>
            </thead>
        </table>

    </div>
</div>


</body>
</html>