<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="common/head_info::head_infor"></div>
    <script type="text/javascript" th:src="@{../js/layer.js}"></script>
    <script type="text/javascript" th:src="@{../js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/managerment.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/managerment.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/jquery.dataTables.min.css}">
</head>
<body>

<div id="content">
    <div class="container-fluid">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="work-search" placeholder="请输入工号"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="name-search" placeholder="请输入姓名"/>
            </div>
            <div class="form-group">
                <select id="status-search"  class="form-control" name="status">
                    <option value="-1" selected>全部</option>
                    <option value="0">已启用</option>
                    <option value="1">已禁用</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="phone-search" placeholder="请输入手机号"/>
                <button type="button" onclick="javascript:search();" class="btn btn-primary btn_mycss">查询</button>
                <button type="button" onclick="javascript:deleteUser();" class="btn btn-primary btn_deleteUser">删除</button>
                <button type="button" onclick="javascript:banUser();" class="btn btn-primary btn_banUser">禁用</button>
                <button type="button" onclick="javascript:enableUser();" class="btn btn-primary btn_mycss">启用</button>
            </div>
        </form>

        <table class="table table-bordered data-table" cellspacing="0" width="100%" id="datatable">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" class="checkall" onclick="javascript:toggleSelectAll()"/>
                </th>
                <th>ID</th>
                <th>工号</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>手机号码</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>

    </div>
</div>

<!--修改信息-->
<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="addroleLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >修改信息</h4>
            </div>
            <div class="modal-body">
                <form id="roleForm">
                    <div class="form-group">
                        <label class="control-label">用户名称:</label>
                        <input type="text" class="form-control" name="name" id="m_userName" />
                        <label class="control-label">工号:</label>
                        <input type="text" class="form-control" name="description" id="m_workNumber"/>
                        <label class="control-label">邮箱:</label>
                        <input type="text" class="form-control" name="description" id="m_email"/>
                        <label class="control-label">手机号码:</label>
                        <input type="text" class="form-control" name="description" id="m_phone"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="updateUser();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>