body {
	margin: 0px;
	overflow-x: hidden;	
	overflow: hidden;
}

#head {
	width: 100%;
	height: 50px;
	background-color: #151927;
	padding: 0px 40px;
}

#head .t-logo {
	float: left;
	padding: 8px 10px;
}

#head .t-logo span {
	color: #FFFEFE;
	font-size: 25px;
}

#head .t-login-info {
	float: left;
	padding: 20px 50px 5px 50px;
}

#head .t-login-info {
	color: #FFFEFE;
}

#head .t-login-out {
	float: right;
	padding: 20px 80px 0px 0px;
}

#head .t-login-out a {
	text-decoration: none;
	color: #FFFFFF;
}

#head .t-login-out a:hover {
	color: #E10505;
}