#side {
	width: 160px;
	height: 586px;
	background-color: #151927;
	border-right: 4px solid #D8D6D6;
	border-top: 5px solid #18A7CE;
	border-radius: 1%;
	float: left;
	position: absolute;
	z-index: auto;
}

#side ul .module-1 .big_class a {
	color: #FFFFFF;
}

#side ul .module-1:hover .big_class a {
	color: #030000;
	text-decoration: none; 
}

#side ul .module-1 {
	padding: 15px 0px 15px 25px;
	font-size: 18px;
	cursor: pointer;
	border-bottom: 1px outset #ECEBEB;
}


#side ul .module-1 .big_class {
	color: #FFFFFF;
}

#side ul .module-1:hover {
	background-color: #FEFEFE;	
	color: #030000;
}

#side ul .module-1:hover .big_class {
	color: #030000;
}

#side ul .module-1 .module-2 ul li span {
	color: #FFFFFF;
}

#side ul .module-1:hover .module-2 ul li span {
	color: #000000;
}

#side ul .module-1 .module-2 ul li span a {
	color: #FFFFFF;
}

#side ul .module-1:hover .module-2 ul li span a {
	color: #000000;
}

#side ul .module-1 .module-2 {
	padding-top: 5px;
	padding-left: 5px;
	text-align: left;
	font-size: 14px;
	display: none;
}