<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.mapper.usersupport.usersupport.CustomerProblemTypeMapper">
  <resultMap id="BaseResultMap" type="com.facebank.usersupport.model.CustomerProblemTypeModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="problem_type" jdbcType="VARCHAR" property="problemType" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
  </resultMap>
  <resultMap id="BaseResultInitMap" type="com.facebank.usersupport.dto.CustomerTypeDto">
    <result column="fir_id" jdbcType="BIGINT" property="firId" />
    <result column="fir_name" jdbcType="VARCHAR" property="firName" />
    <result column="sc_id" jdbcType="BIGINT" property="scId" />
    <result column="sc_name" jdbcType="VARCHAR" property="scName" />
    <result column="th_id" jdbcType="BIGINT" property="thId" />
    <result column="th_name" jdbcType="VARCHAR" property="thName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, problem_type, status, description, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_problem_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer_problem_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.facebank.usersupport.model.CustomerProblemTypeModel">
    insert into customer_problem_type (id, problem_type, status, 
      description, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=BIGINT}, #{problemType,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{description,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=BIGINT}, #{gmtModified,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.facebank.usersupport.model.CustomerProblemTypeModel">
    insert into customer_problem_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="problemType != null">
        problem_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="problemType != null">
        #{problemType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.facebank.usersupport.model.CustomerProblemTypeModel">
    update customer_problem_type
    <set>
      <if test="problemType != null">
        problem_type = #{problemType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.facebank.usersupport.model.CustomerProblemTypeModel">
    update customer_problem_type
    set problem_type = #{problemType,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      description = #{description,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modified = #{gmtModified,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--返回根类型-->
  <select id="getRootType"  resultMap="BaseResultMap">
    SELECT * FROM customer_problem_type WHERE parent_id = 0
  </select>
  <!--根据父id查询出子菜单-->
  <select id="findTypeByParentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT * FROM customer_problem_type WHERE parent_id = #{parentId,jdbcType=BIGINT}
  </select>
  <!--根据问题id拿到3级列表数据-->
  <select id="initPrombleType" parameterType="java.lang.Long" resultMap="BaseResultInitMap">
    select  th_sc.th_id,th_sc.th_name,th_sc.sc_id,th_sc.sc_name,one.id fir_id,one.problem_type fir_name
from(select three.id th_id,three.problem_type th_name,two.id sc_id,two.problem_type sc_name ,two.parent_id
from customer_problem_type as three join customer_problem_type as two on three.parent_id = two.id where three.id=#{typeId}) as th_sc
join customer_problem_type as one on th_sc.parent_id=one.id
  </select>
</mapper>