<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.mapper.usersupport.usersupport.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.facebank.usersupport.model.UserRoleModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
  </resultMap>

    <resultMap id="ResultMap" type="com.facebank.usersupport.dto.UserRoleDO">
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="work_number" jdbcType="INTEGER" property="workNumber" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
        <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    </resultMap>

  <resultMap id="BaseResultRole" type="com.facebank.usersupport.model.RoleModel">
  <id column="role_id" jdbcType="BIGINT" property="roleId" />
  <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  <result column="status" jdbcType="SMALLINT" property="status" />
  <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
  <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
  <result column="creator" jdbcType="BIGINT" property="creator" />
  <result column="description" jdbcType="VARCHAR" property="description" />
</resultMap>

    <resultMap id="BaseResultUserRole" type="com.facebank.usersupport.dto.UserRoleDto">
        <id column="role_id" jdbcType="BIGINT" property="roleId" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
        <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
        <result column="creator" jdbcType="BIGINT" property="creator" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
    </resultMap>
  <sql id="Base_Column_List">
    id, user_id, role_id, gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_role
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from user_role
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.facebank.usersupport.model.UserRoleModel">
    insert into user_role (id, user_id, role_id, 
      gmt_create, gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, 
      #{gmtCreate,jdbcType=BIGINT}, #{gmtModify,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.facebank.usersupport.model.UserRoleModel">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.facebank.usersupport.model.UserRoleModel">
    update user_role
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.facebank.usersupport.model.UserRoleModel">
    update user_role
    set user_id = #{userId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modify = #{gmtModify,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--通过用户id更改角色-->
  <update id="updateRoleByUserId" parameterType="com.facebank.usersupport.model.UserRoleModel">
      update user_role
      <set>
        <if test="roleId != null">
            role_id = #{roleId,jdbcType=BIGINT},
        </if>
        <if test="gmtModify != null">
            gmt_modify = #{gmtModify,jdbcType=BIGINT},
        </if>
      </set>
      WHERE user_id = #{userId,jdbcType=BIGINT}
  </update>

    <!--查询到所有用户信息以及相应的角色-->
    <select id="findAllUser" parameterType="com.facebank.usersupport.model.UserModel" resultMap="ResultMap">
      SELECT  * from user
    </select>
  <select id="findAllRole" parameterType="com.facebank.usersupport.model.RoleModel" resultMap="BaseResultRole">
    SELECT
        role.*
        from role
  </select>
  <select id="findRoleBegin" resultMap="BaseResultUserRole" parameterType="java.lang.Long">
    select role.*,tmp.user_id from role left join
		(select user_role.user_id,user_role.role_id from	user_role
			where user_role.user_id = #{userId}) as tmp
	 on role.role_id = tmp.role_id
  </select>
  <delete id="removeRoleByUser" parameterType="java.util.Map">
    DELETE FROM user_role
    WHERE user_id= #{user_id,jdbcType=BIGINT} and role_id = #{role_id,jdbcType=BIGINT}
  </delete>
</mapper>