<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.mapper.usersupport.usersupport.UserMapper">
    <resultMap id="BaseResultMap" type="com.facebank.usersupport.model.UserModel">
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="work_number" jdbcType="INTEGER" property="workNumber" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
        <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
        <result column="status" jdbcType="SMALLINT" property="status" />
    </resultMap>

    <insert id="insert" parameterType="com.facebank.usersupport.model.UserModel">
        insert into user (work_number, username,
        password, email, phone,
        gmt_create, gmt_modify, status
        )
        values (#{workNumber,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{gmtCreate,jdbcType=BIGINT}, #{gmtModify,jdbcType=BIGINT}, #{status,jdbcType=SMALLINT}
        )
    </insert>


    <select id="selectByUserModel" parameterType="com.facebank.usersupport.model.UserModel"
            resultMap="BaseResultMap">
        select user_id from user
        where 1=1
        <if test="workNumber != null">
            and work_number = #{workNumber,jdbcType=INTEGER}
        </if>
        <if test="username != null">
            and username = #{username,jdbcType=VARCHAR}
        </if>
        <if test="email != null">
            and email = #{email,jdbcType=VARCHAR}
        </if>
        <if test="phone != null">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="getUserById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select user_id,work_number,username,password,email,phone,
        status
        from user
        where user_id=#{userId,jdbcType=BIGINT}
    </select>

    <update id="updatePasswordById" parameterType="com.facebank.usersupport.model.UserModel">
        update user
        SET
        password = #{password,jdbcType=VARCHAR},
        gmt_modify = #{gmtModify,jdbcType=BIGINT}
        where user_id = #{userId,jdbcType=BIGINT}
    </update>

    <update id="updateBaseInfomationById" parameterType="com.facebank.usersupport.model.UserModel">
        UPDATE  user
          SET
        username = #{username,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        work_number = #{workNumber,jdbcType=INTEGER},
        gmt_modify = #{gmtModify,jdbcType=BIGINT}
          WHERE
        user_id = #{userId,jdbcType=BIGINT}
    </update>

    <select id="selectAllByCondition" resultMap="BaseResultMap"
            parameterType="com.facebank.usersupport.model.UserModel">
        select user_id,username,phone,work_number,email,status from user
        where
        <if test="username!=null">
            username like CONCAT(CONCAT('%', #{username,jdbcType=VARCHAR}), '%')
        </if>
        <if test="phone!=null">
            and phone like CONCAT(CONCAT(#{phone,jdbcType=VARCHAR}),'%')
        </if>
        <if test="workNumber!=null">
            and work_number like CONCAT(CONCAT(#{workNumber,jdbcType=INTEGER}),'%')
        </if>
    </select>

    <delete id="batchDeleteUsers" parameterType="int">
        delete from user where user_id in
        <foreach item="userItem" collection="array" open="(" separator="," close=")">
            #{userItem}
        </foreach>
    </delete>

    <!--<select id="selectInfoMation" parameterType="com.facebank.usersupport.model.UserModel" resultMap="BaseResultMap">-->
        <!--select user_id from user-->
        <!--where-->
        <!--<if test ="username!=null">-->
            <!--username = #{username,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test ="email!=null">-->
            <!--or email = #{email,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test = "phone!=null">-->
            <!--or phone = #{phone,jdbcType=VARCHAR}-->
        <!--</if>-->
    <!--</select>-->
</mapper>