
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>后台管理系统</title>
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="js/themes/default/default.css" />
    <script type="text/javascript" src="js/backstage_system_store_base.js" ></script>
    <link rel="stylesheet" type="text/css" href="css/backstage_system_store_base.css">
    <script>
    var store_editor;
    KindEditor.ready(function(K) {
    	store_editor = K.create('#store_editor_id');
    });
    </script>
</head>
<body>
	<!-- 中部内容区 -->
	<div id="store_baseConfig_center">
		<div class="t-head">
			<span>店铺基本设置</span>
			<input type="button" value="保存" class="btn-storemessage-submit" onclick="form_store_base_submit()"/>
		</div>
		<div class="t-content">
			<div class="t-content-head">
				<ul class="nav">
					<li class="store-service store_selected" value="1">基本信息</li>
					<li class="store-service pic" value="2">店铺Logo</li>
				</ul>
			</div>
			<!-- 店铺基本信息 -->
			<div class="t-content-base t-synch-class">
			<form action="" method="post" id="form_store_base">
				<input type="hidden" name="sid" id="store_id"/>
				<table>
					<tr class="t-storeName">
						<td class="text-gray">店铺名：</td>
						<td><input type="text" name="storeName"></td>
					</tr>
					<tr>
						<td class="text-gray">店铺简介：</td>
						<td><textarea name="description" cols="50" rows="4"></textarea></td>
					</tr>
					<tr>
						<td></td>
					</tr>
				</table>
				<div class="edit-store-main-page">
					<textarea id="store_editor_id" name="pageDetail" style="width:920px;height:600px;"></textarea>
				</div>
				<div class="t-submit">
					<input type="button" value="保存" class="btn-storemessage-submit" onclick="form_store_base_submit()"/>
				</div>
			</form>
			</div>
			<!-- 店铺Logo -->
			<div class="t-content-pic t-synch-class">
				<form action="" >
				<div class="t-btn-upload-pic">
					<span>选择图片</span>
					<input type="file" id="store_logo_input" value="上传图片 " accept=".jpg,.png"  onchange="javascript:showPicFromFile(this.id)">
				</div>
				<div class="t-show-pic">
					<div class="t-show-1">
						<img id="store_logo_1" src="http://via.placeholder.com/250x250" alt="">
					</div>
					<div class="t-show-2">
						<img id="store_logo_2" src="http://via.placeholder.com/120x120" alt=""><br>
						<img id="store_logo_3" src="http://via.placeholder.com/50x50" alt="">
					</div>
				</div>
				<div class="t-submit">
					<input type="button" value="保存修改" onclick="uploadPicOfStore()" />
				</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>