
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>后台管理系统</title>

	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/echarts.js"></script>
    <script type="text/javascript" src="js/backstage_system_report_booksales_order.js"></script>
    <link rel="stylesheet" type="text/css" href="css/backstage_system_report_booksales_order.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
</head>
<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	<div id="report_sellnum_head">
		<span>商品销售排行</span>
	</div>
    <div id="main" style="width: 900px;height:450px;"></div>
	<div id="t-timeIntervalOfSellNum">
		<ul>
			<li class="timeIntervalOfSellNum" value="1"><span>最近七天销售额统计</span></li>
			<li class="timeIntervalOfSellNum" value="2" id="timeIntervalOfThisYearMouths">
				<span>今年月份销售额统计</span>
				<ul id="hidden_yearForSelect">
					<li class="yearOption year-fristOption"></li>
					<li class="yearOption"></li>
					<li class="yearOption"></li>
				</ul>
			</li>
			<li class="timeIntervalOfSellNum" value="3"><span>往年销售额统计</span></li>
			<li class="timeIntervalOfSellNum sellNumForm-selected" value="4"><span>商品销售排行</span></li>
		</ul>
	</div>
</body>
</html>