
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>后台管理系统</title>
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="js/themes/default/default.css" />
    <script type="text/javascript" src="js/backstage_system_announcement_look.js" ></script>
    <link rel="stylesheet" type="text/css" href="css/backstage_system_announcement_look.css">
</head>
<body>
	<!-- 中部内容区 -->
	<div id="announcement_baseConfig_center">
		<div class="t-head">
			<span value="1" class="option_for_announcement">发布公告</span>
			<span value="2" class="option_for_announcement announcement_option_selected">查看往期</span>
			<input type="button" value="保存" class="btn-announcementmessage-submit" onclick="form_announcement_base_submit()"/>
		</div>
		
		<!-- 查看消息 -->
		<div id="t-announcement-content-look">
			<div class="screening_conditions">
			<form action="" method="post" id="form_lookAnnouncement">
				<input type="hidden" name="noticeType" id="hidden_noticeType" value="3"/>
				<input type="hidden" name="dateScope" id="hidden_dateScope" value="1"/>
				<label><input name="notice_type" type="radio" value="3" checked="checked" />&nbsp;通知+公告</label> 
				<label><input name="notice_type" type="radio" value="1" />&nbsp;只看公告 </label> 
				<label><input name="notice_type" type="radio" value="2" />&nbsp;只看通知 </label> 
				<select id="announcement_dateScope_select" onchange="javascript:change_dateScope()">
				  <option selected="selected" value ="1">所有消息</option>
				  <option value ="2">近七天消息</option>
				  <option value ="3">近一月消息</option>
				  <option value ="4">近半年消息</option>
				  <option value ="5">近一年消息</option>
				</select>
				<input id="btn_announcement_conditions" type="button" value="确定" onclick="javascript:run_lookAnnouncement(1)" />
			</form>
			</div>

			<div id="t-list_announcement">
				<table id="table_announcement_list">
					<tr>
						<th>发布日期</th>
						<th>消息标题</th>
						<th>详细内容</th>
						<th>经手人</th>
					</tr>
					<tr>
						<td class="announcement_date"></td>
						<td class="announcement_title"></td>
						<td class="btn-announcement_detail"><span></span></td>
						<td class="announcement_author"></td>
					</tr>
					<tr>
						<td class="announcement_date"></td>
						<td class="announcement_title"></td>
						<td class="btn-announcement_detail"><span></span></td>
						<td class="announcement_author"></td>
					</tr>
					<tr>
						<td class="announcement_date"></td>
						<td class="announcement_title"></td>
						<td class="btn-announcement_detail"><span></span></td>
						<td class="announcement_author"></td>
					</tr>
					<tr>
						<td class="announcement_date"></td>
						<td class="announcement_title"></td>
						<td class="btn-announcement_detail"><span></span></td>
						<td class="announcement_author"></td>
					</tr>
					<tr>
						<td class="announcement_date"></td>
						<td class="announcement_title"></td>
						<td class="btn-announcement_detail"><span></span></td>
						<td class="announcement_author"></td>
					</tr>
					<tr>
						<td class="announcement_date"></td>
						<td class="announcement_title"></td>
						<td class="btn-announcement_detail"><span></span></td>
						<td class="announcement_author"></td>
					</tr>
					<tr>
						<td class="announcement_date"></td>
						<td class="announcement_title"></td>
						<td class="btn-announcement_detail"><span></span></td>
						<td class="announcement_author"></td>
					</tr>
					<tr>
						<td class="announcement_date"></td>
						<td class="announcement_title"></td>
						<td class="btn-announcement_detail"><span></span></td>
						<td class="announcement_author"></td>
					</tr>
					<tr>
						<td class="announcement_date"></td>
						<td class="announcement_title"></td>
						<td class="btn-announcement_detail"><span></span></td>
						<td class="announcement_author"></td>
					</tr>
					<tr>
						<td class="announcement_date"></td>
						<td class="announcement_title"></td>
						<td class="btn-announcement_detail"><span></span></td>
						<td class="announcement_author"></td>
					</tr>
				</table>
			</div>
			
			<div class="t-paging">
				<nav aria-label="Page navigation">
			      <ul id="pageNumList_notice" class="pagination">
			        <li id="pagePreLi_notice">
			          <a href="#" aria-label="Previous">
			            <span aria-hidden="true">«</span>
			          </a>
			        </li>
			        <li id="pageNextLi_notice">
			          <a href="#" aria-label="Next">
			            <span aria-hidden="true">»</span>
			          </a>
			        </li>
			      </ul>
			    </nav>
			    <div id="page_info_notice">
			    	<span>共&nbsp;</span>
			    	<span id="total_notice_record"></span>
			    	<span>&nbsp;条记录，</span>
			    	<span id="pages_notice"></span>
			    	页&nbsp;&nbsp;当前第&nbsp;</span>
			    	<input type="text" id="currentPage_notice" value="1" />
			    	<span>&nbsp;页&nbsp;&nbsp;</span>
			    	
			    	<a id="btn_runPage_notice" href="javascript:run_lookAnnouncement()">GO</a>
			    </div>
			   
			</div>
		</div>
		
		<div class="t-line"></div>
	</div>
</body>
</html>