
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>后台管理系统</title>
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<script type="text/javascript" src="js/kindeditor-all-min.js"></script>
	<script type="text/javascript" src="lang/zh-CN.js"></script>
    <script type="text/javascript" src="js/backstage_system_announcement_add.js" ></script>
    <link rel="stylesheet" type="text/css" href="css/backstage_system_announcement_add.css">
    <script>
    var announcement_editor;
    KindEditor.ready(function(K) {
    	announcement_editor = K.create('#announcement_editor_content');
    });
    </script>
</head>
<body>
	<!-- 中部内容区 -->
	<div id="announcement_baseConfig_center">
		<div class="t-head">
			<span value="1" class="option_for_announcement announcement_option_selected">发布公告</span>
			<span value="2" class="option_for_announcement">查看往期</span>
			<input type="button" value="保存" class="btn-announcementmessage-submit" onclick="form_announcement_add_submit()"/>
		</div>
		
		<!-- 发布消息 -->
		<div id="t-announcement-content-add">
			<form method="post" id="form_add_announcement">
			<ul>
				<li value="1" class="announcement_type announcement_type_selected">
					<span>公告</span><br>
					<span class="announcement_info">
						默认，推送的公告仅会展示在网站首页上，和其他宣传栏上
					</span>
				</li>
				<li value="2" class="announcement_type">
					<span>通知</span><br>
					<span class="announcement_info">
						推送的通知仅会直接推送到全站所有用户的消息箱中
					</span>
				</li>
				<li value="3" class="announcement_type">
					<span>公告+通知</span><br>
					<span class="announcement_info">
						推送的信息会展示在网站首页上，和其他宣传栏上和用户的消息箱中
					</span>
				</li>
			</ul>
			<input type="hidden" name="noticeType" id="hidden_niticeType" value="1"/>
			<div id="t-edit_announcement">
				<div class="t-title">
					<span>标题：</span>
					<input type="text" name="noticeTitle" id="announcement_title" />
				</div>
				<div class="t-detail">
					<textarea id="announcement_editor_content" name="noticeContent" style="width:900px;height:600px;"></textarea>
				</div>
			</div>
			<div class="t-submit">
				<input type="button" value="保存修改" onclick="form_announcement_add_submit()" />
			</div>
			</form>
		</div>
		
		<div class="t-line"></div>
	</div>
</body>
</html>