<html th:fragment="lefter" xmlns:th="http://www.thymeleaf.org">

	<script type="text/javascript" src="js/left.js"></script>
	<link rel="stylesheet" type="text/css" href="css/left.css">

	<!-- 侧边菜单栏 -->
	<div id="side">
		<ul class="nav">
			<li class="module-1 item-manager">
				<span class="big_class"><a href="javascript:runItemManager( 1 )">系统设置</a></span>
				<div class="module-2">
					<ul class="nav">
						<li><span class="glyphicon glyphicon-signal"></span><span>&nbsp;&nbsp;<a href="javascript:run_storeBaseConfig()">基本信息</a></span></li>
						<li><span class="glyphicon glyphicon-stats"></span><span>&nbsp;&nbsp;<a href="javascript:run_storeOrderManager()">修改密码</a></span></li>
						<!--<li><span class="glyphicon glyphicon-menu-hamburger"></span><span>&nbsp;&nbsp;<a href="javascript:run_storeAfterSalesManager()">售后处理</a></span></li>-->
					</ul>
				</div>
			</li>
			<li class="module-1">
				<span class="big_class">业务查询</span>
				<div class="module-2">
					<ul class="nav">
						<li><span class="glyphicon glyphicon-signal"></span><span>&nbsp;&nbsp;<a href="javascript:run_storeBaseConfig()">a</a></span></li>
						<li><span class="glyphicon glyphicon-stats"></span><span>&nbsp;&nbsp;<a href="javascript:run_storeOrderManager()">b</a></span></li>
						<!--<li><span class="glyphicon glyphicon-menu-hamburger"></span><span>&nbsp;&nbsp;<a href="javascript:run_storeAfterSalesManager()">售后处理</a></span></li>-->
					</ul>
				</div>
			</li>
			<li class="module-1">
				<span class="big_class">权限管理</span>
				<div class="module-2">
					<ul class="nav">
						<!--<li><span class="glyphicon glyphicon-signal"></span><span>&nbsp;&nbsp;<a href="javascript:run_sellNumCalculate()">销售额统计</a></span></li>-->
						<!--<li><span class="glyphicon glyphicon-stats"></span><span>&nbsp;&nbsp;<a href="javascript:run_bookSalesOrder()">商品排行</a></span></li>-->
						<!--<li><span class="glyphicon glyphicon-menu-hamburger"></span><span>&nbsp;&nbsp;搜索占比图</span></li>-->
						<!--<li><span class="glyphicon glyphicon-eye-open"></span><span>&nbsp;&nbsp;待定</span></li>-->
						<!--<li><span class="glyphicon glyphicon-eye-open"></span><span>&nbsp;&nbsp;待定</span></li>-->
						<!--<li><span class="glyphicon glyphicon-eye-open"></span><span>&nbsp;&nbsp;待定</span></li>-->
					</ul>
				</div>
			</li>
			<li class="module-1">
				<span class="big_class">用户管理</span>
				<div class="module-2">
					<ul class="nav">
						<li><span class="glyphicon glyphicon-edit"></span><span>&nbsp;&nbsp;<a href="javascript:run_deliverAnnouncement()">增加用户</a></span></li>
						<li><span class="glyphicon glyphicon-eye-open"></span><span>&nbsp;&nbsp;<a href="javascript:run_lookAnnouncement(1)">管理用户</a></span></li>
					</ul>
				</div>
			</li>

		</ul>
	</div>
</html>