
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>红楼书屋-后台管理系统-登录</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
	<div id="border">
		<div class="t-form">
			<form action="backstage_system.html" method="post">
			<ul class="nav">
				<li>
					<span>username: </span>
					<input type="text" name="username">
				</li>
				<li>
					<span>password:&nbsp; </span>
					<input type="password" name="password">
				</li>
				<li class="li-key">
					<span>key:&nbsp;</span>
					<input type="text" name="keycode">
				</li>
				<li>
					<input type="submit" value="Enter">
				</li>
			</ul>
			</form>		
		</div>
	</div>
</body>
</html>