<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>笑脸金融-客服助手管理系统-登录</title>
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/login.js"></script>
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div id="border">
	<div id="system-info">
		<span>笑脸金融&nbsp;&nbsp;客服助手管理系统&nbsp;V1.0.0</span>
	</div>
	<div class="t-form">
		<form th:action="@{/login}" action="/login" method="POST" onsubmit="return checkVerityCode();">
			<table>
				<tr>
					<td><span>登录账号: </span></td>
					<td><input class="user-write-input" type="text" name="username" placeholder="用户名/联系手机/邮箱"></td>
				</tr>
				<tr>
					<td><span>通行码:&nbsp; </span></span></td>
					<td><input class="user-write-input" type="password" name="password"></td>
				</tr>
				<tr>
					<td><span>验证码:&nbsp; </span></span></td>
					<td><input type="text" name="verityCode" class="verityCode" id="myVerityCode" onchange="javascript:blurForVerityCode();"/></td>
				</tr>
				<tr>
					<td colspan="2">
						<img src="/verity/verityImg" class="verityImg"/>
						<a href="#">换一张</a>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="t-link-register-page"><a id="link-register-page" href="/register">立即注册>></a></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td class="t-login-btn">
						<input class="login-btn" id="btn-submit" type="submit" value="登录">
						<input class="login-btn" id="btn-reset" type="reset" value="重置">
					</td>
				</tr>
				<tr class="error">
					<td colspan="2">
						<p th:if="${param.logout}" class="bg-warning">已成功注销</p><!-- 1 -->
						<p th:if="${param.error}" class="bg-danger">登录账号或密码错误，请重试</p> <!-- 2 -->
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
</body>
</html>