#advertising_backImg {
	width: 952px;
	height: 513px;
}

#advertising_backImg .ad-info-img {
	position: absolute;
}

#advertising_body {
	margin-left: 115px;
}



#advertising_body table tr #td-1-left {
	width: 110px;
}
#advertising_body table tr #td-1-left img {	
	margin-top: 105px;
	margin-left: 20px;
	width: 70px;
	height: 200px;
	position:absolute; 
	z-index:1;
}
#advertising_body table tr #td-1-left img:hover  {	
	opacity: 0.5;
}

#advertising_body table tr #td-1-left .replace-img {
	margin-top: 190px;
	margin-left: 30px;
}
#advertising_body table tr #td-1-left img:hover +.replace-img {
	opacity: 1;
}


#advertising_body table tr #td-1-center-1 img {	
	margin-top: 105px;
	width: 345px;
	height: 140px;
	position:absolute; 
	z-index:1;
}
#advertising_body table tr #td-1-center-1  img:hover  {	
	opacity: 0.5;
}
#advertising_body table tr #td-1-center-1 .replace-img {
	margin-top: 160px;
	margin-left: 150px;
}
#advertising_body table tr #td-1-center-1 img:hover +.replace-img {
	opacity: 1;
}



#advertising_body table tr #td-1-center-2 {
	width: 130px;
}
#advertising_body table tr #td-1-center-2 img {	
	margin-top: 105px;
	margin-left: 365px;
	margin-right: 20px;
	width: 92.5px;
	height: 100px;
	position:absolute; 
	z-index:1;
}
#advertising_body table tr #td-1-center-2 img:hover  {	
	opacity: 0.5;
}
#advertising_body table tr #td-1-center-2 .replace-img {
	margin-top: 140px;
	margin-left: 390px;
}
#advertising_body table tr #td-1-center-2 img:hover +.replace-img {
	opacity: 1;
}



#advertising_body table tr #td-1-right img {	
	margin-top: 105px;
	width: 70px;
	height: 200px;
	position:absolute; 
	z-index:1;
	margin-left: 345px;
}
#advertising_body table tr #td-1-right img:hover  {	
	opacity: 0.5;
}
#advertising_body table tr #td-1-right .replace-img {
	margin-top: 190px;
	margin-left: 362px;
}
#advertising_body table tr #td-1-right img:hover +.replace-img {
	opacity: 1;
}



#advertising_body table tr #td-1-center-3 img {	
	margin-top: 263px;
	width: 345px;
	height: 60px;
	position:absolute; 
	z-index:1;
}
#advertising_body table tr #td-1-center-3 img:hover  {	
	opacity: 0.5;
}
#advertising_body table tr #td-1-center-3 .replace-img {
	margin-top: 270px;
	margin-left: 150px;
}
#advertising_body table tr #td-1-center-3 img:hover +.replace-img {
	opacity: 1;
}




#advertising_body .index-Recommend-king {
	width: 130px;
	margin-top: 20px;
}

#advertising_body .index-Recommend-king #recommedn-kind-img:hover  {	
	opacity: 0.5;
}
#advertising_body .index-Recommend-king .replace-img {
	margin-top: 390px;
	margin-left: 160px;
}
#advertising_body .index-Recommend-king #recommedn-kind-img:hover +.replace-img {
	opacity: 1;
}


#advertising_body .index-Recommend-king img {
	margin-left: 120px;
	margin-top: 350px;
	width: 130px;
	height: 130px;
	float: left;
	position:absolute; 
	z-index:1;
}
}

#advertising_body .index-Recommend-king .recommend-king-head {
/*	margin-top: 40px;
	margin-left: 20px;*/
	width: 130px;
	height: 16px;
}

#advertising_body .index-other-recommend {
	float: left;
	margin-left: 50px;

}

#advertising_body .index-other-recommend table tr td img {
	width: 63px;
	height: 60px;
	margin-left: 265px;
	margin-top: 350px;
	position:absolute; 
	z-index:1;
}
#advertising_body .index-other-recommend table tr td img :hover  {	
	opacity: 0.5;
}
#advertising_body  .index-other-recommend table tr td .replace-img {
	margin-top: 355px;
	margin-left: 272px;
}
#advertising_body .index-other-recommend table tr td img:hover +.replace-img {
	opacity: 1;
}
#advertising_body .index-other-recommend table tr td #small-recommend-B-img {
	margin-left: 340px;
}
#advertising_body .index-other-recommend table tr td #small-recommend-B-img+img {
	margin-left: 347px;
}
#advertising_body .index-other-recommend table tr td #small-recommend-C-img {
	margin-left: 265px;
	margin-top: 420px;
}
#advertising_body .index-other-recommend table tr td #small-recommend-C-img+img {
	margin-top: 425px;
	margin-left: 272px;
}
#advertising_body .index-other-recommend table tr td #small-recommend-D-img {
	margin-left: 340px;
	margin-top: 420px;
}
#advertising_body .index-other-recommend table tr td #small-recommend-D-img+img {
	margin-top: 425px;
	margin-left: 347px;
}

.replace-img {
	width: 50px !important;
	height: 50px !important;
	position:absolute; 
	z-index:2;
	opacity: 0;
	transition: all 2.0s;
}

.replace-img:hover {
	transform: rotate(360deg);
	opacity: 1;
}

/*弹出框*/
#advertising_set_sideFramework {
	width: 40px; 
	height: 100px;
	position: fixed;
	top: 100px;
	right: 0px;
	transition: right 1s;
	border: 2px double #eff0e3;
	border-right: none;
	border-radius: 10% 0 0 10%;
/* 	background-color: #23243A; */
	z-index: 9;
}

#advertising_set_sideFramework .glyphicon {
	font-size: 25px;
	margin-left: 5px;
	margin-top: 30px;
	color: #FFFFFF;
}

#advertising_set_sideFramework:hover {
	right: 400px;
}

#advertising_set_sideFramework #frameWork_body {
	width: 450px;
	height: 635px;
	position : absolute;
	z-index: 30;
	top: -160px;
	right: -445px;
	border-left: 6px solid #4C4752;
	background-color: #ffffff;
}


/*侧边浪*/
#advertising_set_sideFramework #frameWork_body .side_setAdvertising_head {
	width: 400px;
	padding: 10px 20px;
	background-color: #262240;
	color: #FFFFFF;
	font-size: 20px;
}

#advertising_set_sideFramework #frameWork_body .setAdvertising_location {
	padding: 0px 50px 5px 50px;
	border-bottom: 3px solid #252637;
}
#advertising_set_sideFramework #frameWork_body .setAdvertising_location .glyphicon {
	color:#180657;
	transition: all 1.0s;
}
#advertising_set_sideFramework #frameWork_body .setAdvertising_location .glyphicon:hover {
	transform: rotate(720deg);
}

#advertising_set_sideFramework #frameWork_body .setAdvertising_location .t-location-name {
	font-size: 18px;
}

#advertising_set_sideFramework #frameWork_body .setAdvertising_location #btn_save_ad {
	margin-left: 80px;
	padding: 8px 20px;
	background-color: #000040;
	color: #FFFFFF;
	cursor: pointer;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body {
	padding: 30px 50px;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .ad-item {
	margin-bottom: 30px;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .ad-item input {
	width: 220px;
	height: 30px;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .ad-item textarea {
	width: 210px;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .ad-item input:hover {
	border: 2px solid #EF1F1F;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .ad-item .btn_del_adPic {
	background-color: #d1d1d1;
	color: #FFFFFF;
	padding: 2px 10px 20px 10px;
	margin-top: 40px;
	display:none;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .ad-item .btn1_DelAdPic {
	display:inline;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .ad-item .btn_del_adPic:hover {
	background-color: #070239;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .t-uploadPic .t-showBtnOfUploadPic {
	padding: 8px 15px;
	background-color: #393F5A;
	color: #FFFFFF;
	cursor: pointer;
	position: absolute;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .t-uploadPic #input_uploadAD_Pic {
	position: absolute;
	width: 120px;
	height: 36px;
	opacity: 0;
	margin-bottom: 50px;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .t-uploadPic img {
	width: 200px;
	height: 60px;
	margin-top: 10px;
}

#advertising_set_sideFramework #frameWork_body .side_setAdvertising_body .t-uploadPic .pic1 {
	margin-top: 40px;
}