body {
	margin: 0px;
/* 	overflow-x: hidden;	 */
/* 	overflow: hidden; */
}

#store_baseConfig_center {
	margin-top: 30px;
	margin-left: 20px;
	position: absolute;
	width: 1140px
	background-color: #0080c0;
	height: 500px;
	overflow-y: scroll;
}

#store_baseConfig_center .t-head {
	width: 100%;
	padding: 15px 30px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border: 1px solid #E3E2E2;
	border-radius: 2%;
}

#store_baseConfig_center .t-head .btn-storemessage-submit {
	padding: 8px 30px;
	border: none;
	background-color: #ED4C4C;
	color: #FFFFFF;
	float:right;
	margin-top:-7px;
	margin-right: 50px;
}

#store_baseConfig_center .t-head .btn-storemessage-submit:hover {
	background-color: #BE1212
}

#store_baseConfig_center .t-content {
	width: 100%;
	padding: 20px 50px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border: 1px solid #E3E2E2;
	border-radius: 2%;
}

#store_baseConfig_center .t-content .t-content-head ul li {
	float: left;
	padding: 3px 10px;
	cursor: pointer;
}

#store_baseConfig_center .t-content .t-content-head ul .store_selected {
	border-bottom: 2px solid #D82323;
}

#store_baseConfig_center .t-content .t-content-base {
	padding: 40px 50px;
	/*display: none;*/
}

#store_baseConfig_center .t-content .t-content-base table tr td {
	padding: 10px 0px;
}

#store_baseConfig_center .t-content .t-content-base table .t-storeName td input {
	width: 348px;
	height: 30px;
	padding: 0px 0px 0px 5px;
}

#store_baseConfig_center .t-content .t-content-base .t-submit {
	text-align: center;
}

#store_baseConfig_center .t-content .t-content-base .t-submit input {
	margin-top: 30px;
	padding: 8px 30px;
	border: none;
	background-color: #ED4C4C;
	color: #FFFFFF;
}

#store_baseConfig_center .t-content .t-content-base .t-submit input:hover {
	border: none;
	background-color: #BE1212
}

#store_baseConfig_center .t-content .t-content-pic {
	padding: 40px 10px;
	height: 500px;
	width: 1025px;
	display: none;
}

#store_baseConfig_center .t-content .t-content-pic .t-btn-upload-pic {
	height: 60px;
}

#store_baseConfig_center .t-content .t-content-pic .t-btn-upload-pic span {
	position: absolute;
	padding: 5px 15px;
	background-color: #3EBEE1;
	color: #050101;
}

#store_baseConfig_center .t-content .t-content-pic .t-btn-upload-pic input {
	position: absolute;
	opacity: 0;
}

#store_baseConfig_center .t-content .t-content-pic .t-show-pic {
	
}

#store_baseConfig_center .t-content .t-content-pic .t-show-pic .t-show-1 {
	padding: 40px 120px;
	border: 3px dashed #E1DFDF;
	float: left;
}

#store_baseConfig_center .t-content .t-content-pic .t-show-pic .t-show-1 img {
	width: 250px;
	height: 250px;
}

#store_baseConfig_center .t-content .t-content-pic .t-show-pic .t-show-2  {
	float: left;
	padding: 30px 60px;
}


#store_baseConfig_center .t-content .t-content-pic .t-show-pic .t-show-2 img:first-child {
	width: 120px;
	height: 120px;
}

#store_baseConfig_center .t-content .t-content-pic .t-show-pic .t-show-2 img:last-child {
	width: 50px;
	height: 50px;
	margin-top: 30px;
}

#store_baseConfig_center .t-content .t-content-pic .t-submit {
	text-align: center;
	clear: both;
	padding-top: 30px;
}

#store_baseConfig_center .t-content .t-content-pic .t-submit input{
	padding: 8px 20px;
	border: none;
	background-color: #ABA9A9;
	color: #000003;
}

#store_baseConfig_center .t-content .t-content-pic .t-submit input:hover{
	background-color: #121228;
	color: #FFFFFF;
}