body {
	padding: 0px;
	background-color: #C7F7FB;
}

#border {
	padding: 80px 300px;
}

#border #system-info {
	padding: 20px 40px;
}

#border #system-info span {
	font-size: 22px;
	color: #000000;
}

#border .t-form {
	margin-left: 40px;
	padding: 20px 150px;
	border: 4px solid #DBDBDB;
	background-color: #FFFFFF;

}

#border .t-form:hover {
	border: 4px solid #FA9C9C;
}

#border .t-form table tr td {
	width: 100px;
	height: 50px;
	margin-bottom: 20px;
}

#border .t-form table tr td .user-write-input {
	width: 230px;
	height: 25px;
	padding-left: 5px;
}


#border .t-form table tr .t-link-register-page {
	text-align: right;
}

#border .t-form table tr td #link-register-page {
	text-decoration: none;
	color: #797575;
	font-size: 14px;
}

#border .t-form table tr td #link-register-page:hover {
	color: #0B71CE;
}



#border .t-form table tr td .login-btn {
	padding: 10px 35px;
	background-color: #E7E3E3;
	border: none;
	margin-right: 10px;
	font-size: 16px;
}

#border .t-form table tr td #btn-submit {
	background-color: #8388A1;
	color: #FFFFFF;
}

#border .t-form table tr td #btn-submit:hover {
	background-color: #1F243B;
}

#border .t-form table tr td #btn-reset {

}
