<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.online.process.mapper.LaunchFormMapper">
  <resultMap id="BaseResultMap" type="com.facebank.usersupport.online.process.model.LaunchFormModel">
    <id column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="test_form_id" jdbcType="BIGINT" property="testFormId" />
    <result column="create_username" jdbcType="VARCHAR" property="createUsername" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="accept_develop_user" jdbcType="BIGINT" property="acceptDevelopUser" />
    <result column="accept_develop_username" jdbcType="VARCHAR" property="acceptDevelopUsername" />
    <result column="accept_test_user" jdbcType="BIGINT" property="acceptTestUser" />
    <result column="accept_test_username" jdbcType="VARCHAR" property="acceptTestUsername" />
    <result column="form_status" jdbcType="INTEGER" property="formStatus" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.facebank.usersupport.online.process.model.LaunchFormModel">
    <result column="form_content" jdbcType="LONGVARCHAR" property="formContent" />
  </resultMap>

</mapper>