<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.online.process.mapper.TestProjectUserMapper">
  <resultMap id="BaseResultMap" type="com.facebank.usersupport.online.process.model.TestProjectUserModel">
    <id column="project_user" jdbcType="BIGINT" property="projectUser" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_role" jdbcType="INTEGER" property="userRole" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
  </resultMap>

</mapper>