<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebank.usersupport.online.process.mapper.TestProjectMapper">
  <resultMap id="BaseResultMap" type="com.facebank.usersupport.online.process.model.TestProjectModel">
    <id column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_code" jdbcType="VARCHAR" property="projectCode" />
    <result column="project_url" jdbcType="VARCHAR" property="projectUrl" />
    <result column="begin_time" jdbcType="BIGINT" property="beginTime" />
    <result column="end_time" jdbcType="BIGINT" property="endTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
  </resultMap>
  <select id="selectAllByCondition" parameterType="com.facebank.usersupport.online.process.model.TestProjectModel"
          resultMap="BaseResultMap">
    select project_id,
      project_name,
      project_code,
      project_url,
      begin_time,
      end_time,
      note,
      status,
      gmt_modify,
      gmt_create
    from test_project
    where 1 = 1
    <if test="projectId!=null">
      and project_id like CONCAT(CONCAT('%', #{projectId,jdbcType=BIGINT}), '%')
    </if>
    <if test="projectName!=null">
      and project_name like CONCAT(CONCAT('%', #{projectName,jdbcType=VARCHAR}),'%')
    </if>
    <if test="beginTime != null ">
      and begin_time>#{beginTime}
    </if>
    <if test="endTime != null ">
      and #{endTime} > end_time
    </if>
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="projectId" parameterType="com.facebank.usersupport.online.process.model.TestProjectModel">
    insert into test_project(
      project_name,
      project_code,
      project_url,
      begin_time,
      end_time,
      <if test="note != null ">
        note,
      </if>
      gmt_modify,
      gmt_create
    )
    value(
      #{projectName,jdbcType=VARCHAR},
      #{projectCode,jdbcType=VARCHAR},
      #{projectUrl,jdbcType=VARCHAR},
      #{beginTime,jdbcType=BIGINT},
      #{endTime,jdbcType=BIGINT},
      <if test="note != null ">
        #{note,jdbcType=VARCHAR},
      </if>
      #{gmtModify,jdbcType=BIGINT},
      #{gmtCreate,jdbcType=BIGINT}
    )
  </insert>
</mapper>