<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="common/head_info::head_infor"></div>
    <script type="text/javascript" th:src="@{../js/moment-with-locales.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{../js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{../js/layer.js}"></script>
    <script type="text/javascript" th:src="@{../js/dateFormat.js}"></script>
    <script type="text/javascript" th:src="@{../js/jquery.showLoading.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/search.js}"></script>
    <script type="text/javascript" th:src="@{../js/jquery.dataTables.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap-datetimepicker.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/showLoading.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/jquery.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables-style.css}">
    <style>
        td.details-control {
            background: url('../images/details_open.png') no-repeat center center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background: url('../images/details_close.png') no-repeat center center;
        }
    </style>
</head>
    <div id="content">
        <div class="container-fluid">
            <form class="form-inline" id="repaymentForm">
                <div class="form-group">
                    <label for="mobile">手机号</label>
                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号">
                </div>
                <div class="form-group">
                    <label for="orderId">订单ID</label>
                    <input type="email" class="form-control" id="orderId" name="orderId" placeholder="订单ID">
                </div>
                <div class="form-group">
                    <label class="labe_l">还款日期:</label>
                    <input type="text" class="form_datetime form-control" id="datetimeStart" name="startTime" readonly>
                    --
                    <input type="text" class="form_datetime form-control" id="datetimeEnd" name="endTime" readonly>

                </div>
                <span class="btn btn-default" onclick="reset()" >重置</span>
                <span class="btn btn-default" onclick="search()" >查询</span>
            </form>

            <!-- datatable_length datatable_filter <table class=""width="100%" id="datatable" style="word-break: keep-all;white-space:nowrap">-->
            <table id="datatable" class="table table-bordered data-table display" cellspacing="0" style="width:100%;word-break: keep-all;white-space:nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>订单ID</th>
                        <th>用户ID</th>
                        <th>债权计划本金</th>
                        <th>计划利息</th>
                        <th>计划还款时间</th>
                        <!--<th>红包信息</th>
                        <th>红包金额</th>
                        <th>加息红包/返现红包</th>
                        <th>红包期限</th>
                        <th>vip利率</th>
                        <th>vip收益</th>
                        <th>vip期数</th>
                        <th>加息金额</th>
                        <th>加息期数</th>
                        <th>首购加息/限时加息/项目加息</th>-->
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>订单ID</th>
                        <th>用户ID</th>
                        <th>债权计划本金</th>
                        <th>计划利息</th>
                        <th>计划还款时间</th>
                        <!--<th>红包信息</th>
                        <th>红包金额</th>
                        <th>加息红包/返现红包</th>
                        <th>红包期限</th>
                        <th>vip利率</th>
                        <th>vip收益</th>
                        <th>vip期数</th>
                        <th>加息金额</th>
                        <th>加息期数</th>
                        <th>首购加息/限时加息/项目加息</th>-->
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</html>